flows.json
[
    {
        "id": "tab_mm",
        "type": "tab",
        "label": "MediMatch 智慧醫療",
        "disabled": false,
        "info": "MediMatch 智慧醫療系統 v1.0"
    },
    {
        "id": "css_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /static/style.css",
        "url": "/static/style.css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "css_f"
            ]
        ]
    },
    {
        "id": "css_f",
        "type": "function",
        "z": "tab_mm",
        "name": "Shared CSS",
        "func": "msg.payload = \"@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;600;700&display=swap');\\n:root{--p:#0891b2;--pd:#0e7490;--pl:#e0f2fe;--bg:#f0fdfa;--card:#fff;--txt:#1e293b;--muted:#64748b;--bdr:#e2e8f0;--r:14px;--sh:0 2px 16px rgba(8,145,178,.07)}\\n*{margin:0;padding:0;box-sizing:border-box}\\nbody{font-family:'Noto Sans TC',system-ui,sans-serif;background:var(--bg);color:var(--txt);min-height:100vh}\\n.topbar{background:linear-gradient(135deg,var(--pd),var(--p));color:#fff;padding:.9rem 1.5rem;display:flex;justify-content:space-between;align-items:center;position:sticky;top:0;z-index:100;box-shadow:0 2px 20px rgba(14,116,144,.25)}\\n.logo{font-size:1.25rem;font-weight:700;color:#fff;text-decoration:none;display:flex;align-items:center;gap:.4rem}\\n.home-btn{background:rgba(255,255,255,.18);color:#fff;text-decoration:none;padding:.35rem .9rem;border-radius:20px;font-size:.82rem;font-weight:500;border:1px solid rgba(255,255,255,.3);transition:background .2s;display:flex;align-items:center;gap:.3rem}\\n.home-btn:hover{background:rgba(255,255,255,.3)}\\nmain{max-width:820px;margin:0 auto;padding:1.5rem}\\n.card{background:var(--card);border-radius:var(--r);padding:1.4rem;margin-bottom:1rem;box-shadow:var(--sh);border:1px solid rgba(255,255,255,.9)}\\n.hero{background:linear-gradient(135deg,var(--pd),var(--p));color:#fff;padding:1.6rem 1.5rem}\\n.hero h1{color:#fff;font-size:1.5rem;margin-bottom:.4rem}\\n.hero p{color:rgba(255,255,255,.85);font-size:.92rem}\\n.grid2{display:grid;grid-template-columns:1fr 1fr;gap:.8rem;margin-bottom:1rem}\\n.card-btn{display:flex;flex-direction:column;align-items:center;justify-content:center;gap:.5rem;padding:1.2rem 1rem;border-radius:var(--r);font-size:.92rem;font-weight:600;text-decoration:none;transition:all .2s;text-align:center;background:var(--card);box-shadow:var(--sh);border:2px solid transparent}\\n.card-btn .icon{font-size:1.8rem}\\n.card-btn.primary{background:linear-gradient(135deg,var(--pd),var(--p));color:#fff;border-color:transparent}\\n.card-btn.primary:hover{transform:translateY(-2px);box-shadow:0 6px 20px rgba(8,145,178,.4)}\\n.card-btn.secondary{color:var(--p);border-color:var(--pl)}\\n.card-btn.secondary:hover{background:var(--pl);border-color:var(--p)}\\n.btn{display:inline-flex;align-items:center;justify-content:center;gap:.5rem;padding:.75rem 1.4rem;border-radius:12px;font-size:.95rem;font-weight:600;font-family:inherit;text-decoration:none;border:none;cursor:pointer;transition:all .2s}\\n.btn-primary{background:linear-gradient(135deg,var(--p),var(--pd));color:#fff;box-shadow:0 4px 15px rgba(8,145,178,.3)}\\n.btn-primary:hover{transform:translateY(-2px);box-shadow:0 6px 20px rgba(8,145,178,.45)}\\n.btn-success{background:linear-gradient(135deg,#10b981,#059669);color:#fff}\\n.btn-warning{background:linear-gradient(135deg,#f59e0b,#d97706);color:#fff;box-shadow:0 4px 12px rgba(245,158,11,.3)}\\n.btn-outline{background:transparent;color:var(--muted);border:2px solid var(--bdr)}\\n.btn-outline:hover{background:var(--bdr)}\\n.btn-block{width:100%;display:flex}\\n.btn:disabled,.btn[disabled]{opacity:.6;cursor:not-allowed;pointer-events:none}\\n.mt1{margin-top:.6rem}\\nh1{font-size:1.55rem;font-weight:700;color:var(--pd);margin-bottom:.4rem}\\nh2{font-size:1.1rem;font-weight:600;color:var(--pd);margin-bottom:.8rem;display:flex;align-items:center;gap:.4rem}\\nh3{font-size:.98rem;font-weight:600;margin-bottom:.3rem}\\np{line-height:1.65;color:var(--muted);font-size:.92rem}\\n.form-group{margin-bottom:1rem}\\nlabel{font-weight:600;font-size:.88rem;display:block;margin-bottom:.4rem;color:var(--txt)}\\ninput,textarea,select{width:100%;padding:.7rem 1rem;border:2px solid var(--bdr);border-radius:10px;font-family:inherit;font-size:.93rem;outline:none;transition:border-color .2s;background:#fff}\\ninput:focus,textarea:focus,select:focus{border-color:var(--p)}\\ntextarea{resize:vertical;min-height:90px}\\n.chk-grid{display:grid;grid-template-columns:repeat(auto-fill,minmax(135px,1fr));gap:.5rem;margin-top:.5rem}\\n.chk-item{display:flex;align-items:center;gap:.5rem;padding:.5rem .75rem;border:2px solid var(--bdr);border-radius:10px;cursor:pointer;transition:all .15s;font-size:.86rem;font-weight:500;user-select:none}\\n.chk-item.checked{border-color:var(--p);background:var(--pl);color:var(--pd)}\\n.chk-item input{width:15px;height:15px;accent-color:var(--p);cursor:pointer;flex-shrink:0}\\n.tabs{display:flex;gap:0;margin-bottom:1.2rem;border-bottom:2px solid var(--bdr)}\\n.tab-btn{padding:.6rem 1.3rem;background:none;border:none;font-family:inherit;font-size:.9rem;font-weight:500;color:var(--muted);cursor:pointer;border-bottom:3px solid transparent;margin-bottom:-2px;transition:all .2s}\\n.tab-btn.active{color:var(--p);border-bottom-color:var(--p);font-weight:600}\\n.tab-pane{display:none}\\n.tab-pane.active{display:block}\\n.result-light{background:linear-gradient(135deg,#ecfdf5,#d1fae5);border:2px solid #6ee7b7;border-radius:var(--r);padding:1.6rem;text-align:center;margin-bottom:1rem}\\n.result-serious{background:linear-gradient(135deg,#fff7ed,#fed7aa);border:2px solid #fdba74;border-radius:var(--r);padding:1.6rem;text-align:center;margin-bottom:1rem}\\n.result-icon{font-size:3.5rem;margin-bottom:.8rem}\\n.result-title{font-size:1.4rem;font-weight:700;margin-bottom:.3rem}\\n.result-sub{font-size:.9rem;color:var(--muted);margin-bottom:0}\\n.item-card{background:var(--card);border-radius:12px;padding:1rem 1.2rem;margin-bottom:.7rem;box-shadow:var(--sh);border:1px solid var(--bdr);display:flex;align-items:flex-start;gap:.9rem}\\n.item-icon{font-size:1.6rem;flex-shrink:0;margin-top:.1rem}\\n.item-info{flex:1}\\n.item-info h3{margin-bottom:.2rem}\\n.item-info p{font-size:.84rem;margin-bottom:.3rem}\\n.badge{display:inline-flex;align-items:center;gap:.25rem;padding:.18rem .6rem;border-radius:20px;font-size:.76rem;font-weight:600}\\n.badge-green{background:#dcfce7;color:#15803d}\\n.badge-blue{background:#dbeafe;color:#1d4ed8}\\n.badge-yellow{background:#fef9c3;color:#a16207}\\n.badge-red{background:#fee2e2;color:#b91c1c}\\n.alert{padding:.9rem 1.1rem;border-radius:12px;margin-bottom:1rem;display:flex;gap:.7rem;align-items:flex-start;font-size:.88rem}\\n.alert-info{background:#e0f2fe;border-left:4px solid var(--p);color:#0c4a6e}\\n.alert-warning{background:#fef9c3;border-left:4px solid #ca8a04;color:#713f12}\\n.alert-success{background:#dcfce7;border-left:4px solid #16a34a;color:#14532d}\\n.spinner{width:36px;height:36px;border:3px solid var(--bdr);border-top-color:var(--p);border-radius:50%;animation:spin .8s linear infinite;margin:2rem auto}\\n@keyframes spin{to{transform:rotate(360deg)}}\\n.step-bar{display:flex;align-items:center;justify-content:center;gap:.5rem;margin-bottom:1.5rem}\\n.step{display:flex;align-items:center;gap:.5rem;font-size:.85rem;font-weight:500;color:var(--muted)}\\n.step.active{color:var(--p);font-weight:700}\\n.step-num{width:26px;height:26px;border-radius:50%;background:var(--bdr);color:var(--muted);display:flex;align-items:center;justify-content:center;font-size:.8rem;font-weight:700}\\n.step.active .step-num{background:var(--p);color:#fff}\\n.step-line{width:30px;height:2px;background:var(--bdr);border-radius:2px}\\n.history-item{padding:.8rem 1rem;border-radius:10px;border:1px solid var(--bdr);margin-bottom:.6rem;display:flex;gap:.8rem;align-items:center;background:#fff}\\n@media(max-width:600px){main{padding:1rem}.grid2{grid-template-columns:1fr 1fr}h1{font-size:1.25rem}.topbar{padding:.8rem 1rem}}\";\nmsg.headers = { 'Content-Type': 'text/css; charset=utf-8' };\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 40,
        "wires": [
            [
                "css_r"
            ]
        ]
    },
    {
        "id": "css_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 40,
        "wires": []
    },
    {
        "id": "home_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /home",
        "url": "/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "home_f"
            ]
        ]
    },
    {
        "id": "home_f",
        "type": "function",
        "z": "tab_mm",
        "name": "首頁",
        "func": "msg.payload = \"<!DOCTYPE html><html lang='zh-TW'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'><title>首頁 | MediMatch</title><link rel='stylesheet' href='/static/style.css'></head><body><nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><span style='color:rgba(255,255,255,.7);font-size:.82rem'>智慧醫療助理</span></nav>\\n<main>\\n  <div class='card hero'>\\n    <h1>您好，需要醫療建議嗎？ 👋</h1>\\n    <p>描述您的症狀，我們協助判斷是購買成藥還是前往就診</p>\\n  </div>\\n  <div class='card'>\\n    <h2>📍 附近診所地圖</h2>\\n    <iframe id='mf' src='https://maps.google.com/maps?q=診所&ll=24.1477,120.6736&z=15&output=embed'\\n      style='width:100%;height:280px;border:none;border-radius:10px' loading='lazy' allowfullscreen></iframe>\\n    <p style='margin-top:.6rem;font-size:.8rem;color:var(--muted)'>📌 地圖將自動定位至您的所在位置</p>\\n  </div>\\n  <div class='grid2'>\\n    <a href='/symptom' class='card-btn primary'><span class='icon'>🩺</span>症狀評估</a>\\n    <a href='/clinic' class='card-btn secondary'><span class='icon'>🏥</span>找診所</a>\\n    <a href='/medicine' class='card-btn secondary'><span class='icon'>💊</span>成藥查詢</a>\\n    <a href='/booking' class='card-btn secondary'><span class='icon'>📅</span>線上掛號</a>\\n  </div>\\n  <a href='/member' class='btn btn-outline btn-block mt1'>👤 會員中心</a>\\n</main><script>if(navigator.geolocation){navigator.geolocation.getCurrentPosition(function(p){document.getElementById('mf').src='https://maps.google.com/maps?q=診所&ll='+p.coords.latitude+','+p.coords.longitude+'&z=15&output=embed';})}</script></body></html>\";\nmsg.headers = { 'Content-Type': 'text/html; charset=utf-8' };\nreturn msg;",
        "outputs": 1,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "home_r"
            ]
        ]
    },
    {
        "id": "home_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "sym_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /symptom",
        "url": "/symptom",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "sym_f"
            ]
        ]
    },
    {
        "id": "sym_f",
        "type": "function",
        "z": "tab_mm",
        "name": "症狀輸入頁",
        "func": "function parseCookies(req){\n  var c={},h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){var i=s.indexOf('=');if(i<1)return;var k=s.slice(0,i).trim(),v=s.slice(i+1).trim();if(v.charAt(0)==='\"')v=v.slice(1,v.lastIndexOf('\"'));try{v=decodeURIComponent(v);}catch(e){}c[k]=v;});\n  return c;\n}\nvar _c=parseCookies(msg.req), _user=null;\ntry{_user=JSON.parse(_c.mm_user);}catch(e){}\nif(!_user||!_user.id){\n  msg.payload='<!DOCTYPE html><html lang=\"zh-TW\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><title>請先登入 | MediMatch</title><link rel=\"stylesheet\" href=\"/static/style.css\"></head><body><nav class=\"topbar\"><a href=\"/home\" class=\"logo\">🏥 MediMatch</a><a href=\"/home\" class=\"home-btn\">🏠 首頁</a></nav><main><div style=\"max-width:440px;margin:2rem auto;text-align:center\"><div class=\"card\" style=\"padding:2.5rem 2rem\"><div style=\"font-size:3.5rem;margin-bottom:1rem\">🔒</div><h1 style=\"margin-bottom:.5rem\">請先登入</h1><p style=\"margin-bottom:1.5rem\">您需要登入或註冊帳號才能使用症狀評估功能</p><div class=\"alert alert-info\" style=\"text-align:left;margin-bottom:1.2rem\">💡 登入後您的每次評估紀錄都會自動儲存，方便日後查詢</div><a href=\"/member?redirect=symptom\" class=\"btn btn-primary btn-block\">🔑 前往登入 / 註冊</a><a href=\"/home\" class=\"btn btn-outline btn-block mt1\">🏠 回首頁</a></div></div></main></body></html>';\n  msg.statusCode=200;\n  msg.headers={'Content-Type':'text/html; charset=utf-8'};\n  return msg;\n}\n\nmsg.payload = \"<!DOCTYPE html><html lang='zh-TW'><head><meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'><title>症狀評估 | MediMatch</title><link rel='stylesheet' href='/static/style.css'></head><body><nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav><main><div class='card hero'><h1>🩺 症狀評估</h1><p>請勾選症狀，並可在下方補充文字描述，AI 將協助初步分類</p></div><div class='card'><h2>☑️ 勾選症狀</h2><div class='chk-grid' id='chkGrid'><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='發燒'>🌡️ 發燒</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='頭痛'>🤕 頭痛</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='喉嚨痛'>😮 喉嚨痛</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='咳嗽'>😷 咳嗽</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='流鼻水'>🤧 流鼻水</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='腹痛'>🤢 腹痛</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='腹瀉'>🚽 腹瀉</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='噁心嘔吐'>😰 噁心嘔吐</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='皮膚紅疹'>🔴 皮膚紅疹</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='眼睛不適'>👁️ 眼睛不適</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='肌肉痠痛'>💪 肌肉痠痛</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='呼吸困難'>😤 呼吸困難</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='胸痛'>💔 胸痛</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='頭暈'>😵 頭暈</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='失眠'>😴 失眠</label><label class='chk-item' onclick='this.classList.toggle(\\\"checked\\\")'><input type='checkbox' value='食慾不振'>🍽️ 食慾不振</label></div></div><div class='card'><h2>✍️ 補充描述（選填）</h2><div class='form-group'><textarea id='symptomText' placeholder='例如：我從昨天開始頭痛、喉嚨有點痛，今天開始有點發燒，體溫約38度，沒有咳嗽...'></textarea></div><div class='alert alert-info'>💡 本系統提供初步參考建議，不能取代專業醫療診斷。如症狀嚴重請立即就醫。</div><button class='btn btn-primary btn-block' id='submitBtn' onclick='submitSymptoms()'>🔍 開始 AI 分析</button></div><div id='loadingArea' style='display:none'><div class='card' style='text-align:center;padding:2rem'><div class='spinner'></div><p style='color:var(--p);font-weight:600'>AI 正在分析您的症狀...</p></div></div></main><script>function submitSymptoms(){  var txt=document.getElementById('symptomText').value.trim();  var chks=Array.from(document.querySelectorAll('#chkGrid input:checked')).map(function(c){return c.value});  if(!txt&&chks.length===0){alert('請至少勾選一項症狀或輸入描述');return;}  document.getElementById('submitBtn').disabled=true;  document.getElementById('loadingArea').style.display='block';  fetch('/api/classify',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({symptoms:txt,checkboxes:chks})})  .then(function(r){return r.json()})  .then(function(d){    if(d._apiError){      document.getElementById('loadingArea').style.display='none';      document.getElementById('submitBtn').disabled=false;      var e=document.getElementById('apiErrBox');      if(!e){e=document.createElement('div');e.id='apiErrBox';e.className='alert alert-warning';document.querySelector('main').appendChild(e);}      e.style.display='';e.innerText='⚠️ '+d._apiErrorMsg;      return Promise.reject('api_error');    }    var ob=d._origBody||{};    var dt=(ob.symptoms||'').slice(0,60)||(Array.isArray(ob.checkboxes)?ob.checkboxes.join('、'):'')||'（無輸入）';    var sd={displayText:dt,category:d.category,severity:d.severity,recommendation:d.recommendation,department:d.department,advice:d.advice};    return fetch('/api/save-assess',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(sd)}).then(function(){return d;});  })  .then(function(d){    var meds=(d._dbMeds&&d._dbMeds.length>0)?d._dbMeds:(d.medicines||[]);    var p=new URLSearchParams({category:d.category||'',severity:d.severity||'',recommendation:d.recommendation||'',department:d.department||'',advice:d.advice||'',warning:d.warning||'',medicines:JSON.stringify(meds)});    window.location='/triage?'+p.toString();  })  .catch(function(e){    if(e==='api_error') return;    alert('分析失敗，請稍後再試：'+e.message);    document.getElementById('submitBtn').disabled=false;    document.getElementById('loadingArea').style.display='none';  });}</script></body></html>\";\nmsg.headers = {'Content-Type':'text/html; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 160,
        "wires": [
            [
                "sym_r"
            ]
        ]
    },
    {
        "id": "sym_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 160,
        "wires": []
    },
    {
        "id": "cls_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/classify",
        "url": "/api/classify",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "cls_f"
            ]
        ]
    },
    {
        "id": "cls_f",
        "type": "function",
        "z": "tab_mm",
        "name": "Build Gemini Request",
        "func": "// ⚠️ 請至 https://aistudio.google.com/apikey 取得免費 API Key\n// 確認該專案「未啟用計費」才能使用免費額度\nvar GEMINI_KEY = 'AIzaSyC-QuW5XFsKib0_TAe9ysZ30ZOu_3u7hFs';\nvar body = msg.payload;\n\nmsg.origBody = {\n  symptoms:   (body.symptoms   || '').trim(),\n  checkboxes: (body.checkboxes || [])\n};\nmsg.origCookie = (msg.req && msg.req.headers && msg.req.headers.cookie) || '';\n\nvar symptoms   = msg.origBody.symptoms;\nvar checkboxes = msg.origBody.checkboxes;\nvar combined   = symptoms;\nif(checkboxes.length > 0)\n  combined += (combined ? '\\n' : '') + '勾選症狀：' + checkboxes.join('、');\n\nmsg.url     = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite-preview:generateContent?key=' + GEMINI_KEY;\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n  contents: [{\n    parts: [{ text:\n      '你是醫療分類助手。根據症狀，只回傳一行 JSON，不要任何解釋、不要 markdown、不要換行。\\n' +\n      '症狀：' + combined + '\\n' +\n      '格式（嚴格遵守，只輸出這一行）：' +\n      '{\"category\":\"感冒\",\"severity\":\"輕症\",\"recommendation\":\"成藥\",\"department\":\"內科\",\"medicines\":[\"藥A\",\"藥B\"],\"advice\":\"建議說明\",\"warning\":\"注意事項\"}'\n    }]\n  }],\n  generationConfig: {\n    temperature: 0.1,\n    maxOutputTokens: 1024,\n    responseMimeType: \"text/plain\"\n  }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "cls_q"
            ]
        ]
    },
    {
        "id": "cls_q",
        "type": "http request",
        "z": "tab_mm",
        "name": "Gemini API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "cls_p"
            ]
        ]
    },
    {
        "id": "cls_p",
        "type": "function",
        "z": "tab_mm",
        "name": "Parse Gemini Response",
        "func": "node.warn('[cls_p] 原始回應: ' + JSON.stringify(msg.payload).slice(0, 300));\nvar resp = msg.payload;\nif(!resp || !resp.candidates || !resp.candidates[0]) {\n  var err = resp && resp.error;\n  var code = err && err.code;\n  var errMsg = code===429?'API額度已達上限':code===403?'API Key無效':('Gemini API失敗：'+(err&&err.message||'未知'));\n  node.warn('[cls_p] API錯誤 '+code+': '+errMsg);\n  msg.payload = {_apiError:true, _apiErrorMsg:errMsg, _origBody:msg.origBody||{}};\n  msg.statusCode=200;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return msg;\n}\ntry {\n  var text = resp.candidates[0].content.parts[0].text.trim();\n  text = text.replace(/^```json?\\s*/i,'').replace(/```\\s*$/,'').trim();\n  var result = JSON.parse(text);\n  result._origBody = msg.origBody || {};\n  msg._geminiResult = result;\n  // 準備查 DB：把 Gemini 推薦的藥品名稱傳下去\n  var medNames = (result.medicines||[]).map(function(m){ return typeof m==='string'?m:m.name||''; }).filter(Boolean);\n  msg._medNames = medNames;\n  node.warn('[cls_p] medicines from Gemini: ' + JSON.stringify(medNames));\n  if(medNames.length > 0) {\n    // 查DB：找這些藥哪些已存在\n    var inClause = medNames.map(function(n){ return \"'\"+n.replace(/'/g,\"''\")+\"'\"; }).join(',');\n    msg.payload = 'SELECT id,name,category,symptoms,dosage,warnings FROM medicines WHERE name IN ('+inClause+')';\n    delete msg.params;\n    return msg; // 送到 meds_q\n  } else {\n    // 沒有推薦藥品，直接回傳\n    msg.payload = result;\n    msg.statusCode=200;\n    msg.headers={'Content-Type':'application/json; charset=utf-8'};\n    return [null, msg]; // output 2 直接到 cls_r\n  }\n} catch(e) {\n  node.warn('[cls_p] parse error: '+e.message);\n  msg.payload={_apiError:true,_apiErrorMsg:'AI回應格式錯誤',_origBody:msg.origBody||{}};\n  msg.statusCode=200;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [null, msg];\n}",
        "outputs": 2,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "meds_q",
                "dbg_cls"
            ],
            [
                "cls_r"
            ]
        ]
    },
    {
        "id": "cls_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1810,
        "y": 220,
        "wires": []
    },
    {
        "id": "tri_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /triage",
        "url": "/triage",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "tri_f"
            ]
        ]
    },
    {
        "id": "tri_f",
        "type": "function",
        "z": "tab_mm",
        "name": "分流結果頁",
        "func": "var q = msg.req.query;\nvar severity       = q.severity       || '輕症';\nvar category       = q.category       || '一般症狀';\nvar recommendation = q.recommendation || '成藥';\nvar department     = q.department     || '內科';\nvar advice         = q.advice         || '';\nvar warning        = q.warning        || '';\nvar medicinesRaw   = q.medicines      || '';\n\n// 解析 medicines（可能是陣列或逗號分隔）\nvar medList = [];\ntry { medList = JSON.parse(medicinesRaw); } catch(e) {\n  medList = medicinesRaw ? medicinesRaw.split(',').map(function(m){return m.trim();}).filter(Boolean) : [];\n}\n\nvar isLight = severity === '輕症';\nvar resultClass = isLight ? 'result-light' : 'result-serious';\nvar icon  = isLight ? '💊' : '🏥';\nvar title = isLight ? '輕症 — 建議購買成藥' : '建議前往就醫';\nvar sub   = isLight ? '您的症狀屬於輕微狀況，可先嘗試成藥緩解' : '您的症狀建議盡快前往 '+department+' 就診';\nvar actionBtns = isLight\n  ? \"<a href='/medicine' class='btn btn-primary btn-block'>💊 成藥查詢</a><a href='/clinic' class='btn btn-outline btn-block mt1'>🏥 也想看診</a>\"\n  : \"<a href='/clinic?dept=\"+encodeURIComponent(department)+\"' class='btn btn-warning btn-block'>🏥 尋找附近 \"+department+\"</a><a href='/medicine' class='btn btn-outline btn-block mt1'>💊 先買成藥緩解</a>\";\n\n// 成藥推薦區塊\nvar medsHTML = '';\nif(medList.length > 0) {\n  var medsItems = medList.map(function(m) {\n    var name     = typeof m === 'string' ? m : (m.name||'');\n    var syms     = typeof m === 'object' ? (m.symptoms||'') : '';\n    var dosage   = typeof m === 'object' ? (m.dosage||'') : '';\n    var warnings = typeof m === 'object' ? (m.warnings||'') : '';\n    var cat      = typeof m === 'object' ? (m.category||'') : '';\n    return \"<div class='item-card'>\" +\n      \"<span class='item-icon'>💊</span>\" +\n      \"<div class='item-info'>\" +\n      \"<h3>\"+name+(cat?\"  <span class='badge badge-blue'>\"+cat+\"</span>\":\"\")+\"</h3>\" +\n      (syms    ? \"<p style='font-size:.85rem;margin-bottom:.2rem'>📋 適用：\"+syms+\"</p>\" : \"\") +\n      (dosage  ? \"<p style='font-size:.85rem;margin-bottom:.2rem'>💉 用法：\"+dosage+\"</p>\" : \"\") +\n      (warnings? \"<p style='font-size:.82rem;color:#dc2626;margin-bottom:0'>⚠️ \"+warnings+\"</p>\" : \"\") +\n      \"</div></div>\";\n  }).join('');\n  medsHTML = \"<div class='card'><h2>💊 AI 推薦成藥</h2>\" + medsItems + \"</div>\";\n}\n\nvar html = `<!DOCTYPE html><html lang='zh-TW'><head>\n<meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'>\n<title>分流結果 | MediMatch</title>\n<link rel='stylesheet' href='/static/style.css'>\n</head><body>\n<nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav>\n<main>\n<div class='${resultClass}'>\n  <div class='result-icon'>${icon}</div>\n  <div class='result-title'>${title}</div>\n  <p class='result-sub'>${sub}</p>\n</div>\n<div class='card'>\n  <h2>🔍 分析結果</h2>\n  <div style='display:grid;grid-template-columns:1fr 1fr;gap:.6rem;margin-bottom:1rem'>\n    <div style='background:var(--bg);border-radius:10px;padding:.8rem;text-align:center'>\n      <div style='font-size:.75rem;color:var(--muted);margin-bottom:.2rem'>症狀類別</div>\n      <div style='font-weight:700;color:var(--pd)'>${category}</div>\n    </div>\n    <div style='background:var(--bg);border-radius:10px;padding:.8rem;text-align:center'>\n      <div style='font-size:.75rem;color:var(--muted);margin-bottom:.2rem'>嚴重程度</div>\n      <div style='font-weight:700;color:${isLight?\"#16a34a\":\"#ea580c\"}'>${severity}</div>\n    </div>\n    <div style='background:var(--bg);border-radius:10px;padding:.8rem;text-align:center'>\n      <div style='font-size:.75rem;color:var(--muted);margin-bottom:.2rem'>建議行動</div>\n      <div style='font-weight:700;color:var(--pd)'>${recommendation}</div>\n    </div>\n    <div style='background:var(--bg);border-radius:10px;padding:.8rem;text-align:center'>\n      <div style='font-size:.75rem;color:var(--muted);margin-bottom:.2rem'>建議科別</div>\n      <div style='font-weight:700;color:var(--pd)'>${department}</div>\n    </div>\n  </div>\n  <div class='alert alert-info'>💬 ${advice}</div>\n  <div class='alert alert-warning'>⚠️ ${warning}</div>\n</div>\n${medsHTML}\n<div class='card'>\n  ${actionBtns}\n  <a href='/symptom' class='btn btn-outline btn-block mt1'>🔄 重新評估</a>\n</div>\n</main></body></html>`;\n\nmsg.payload = html;\nmsg.headers = {'Content-Type':'text/html; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "tri_r"
            ]
        ]
    },
    {
        "id": "tri_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "med_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /medicine",
        "url": "/medicine",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "med_f"
            ]
        ]
    },
    {
        "id": "med_f",
        "type": "function",
        "z": "tab_mm",
        "name": "成藥查詢 - 建 SQL",
        "func": "var q        = (msg.req.query.q       || '').trim();\nvar category = (msg.req.query.category|| '').trim();\n\nmsg._query    = q;\nmsg._category = category;\n\nif(q) {\n  var s = q.replace(/'/g,\"''\");\n  msg.payload = \"SELECT id,name,category,symptoms,dosage,warnings FROM medicines WHERE name LIKE N'%\"+s+\"%' OR symptoms LIKE N'%\"+s+\"%' ORDER BY category,name\";\n} else if(category) {\n  var c = category.replace(/'/g,\"''\");\n  msg.payload = \"SELECT id,name,category,symptoms,dosage,warnings FROM medicines WHERE category=N'\"+c+\"' ORDER BY name\";\n} else {\n  msg.payload = \"SELECT id,name,category,symptoms,dosage,warnings FROM medicines ORDER BY category,name\";\n}\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "med_q"
            ]
        ]
    },
    {
        "id": "med_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "cli_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /clinic",
        "url": "/clinic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "cli_f"
            ]
        ]
    },
    {
        "id": "cli_f",
        "type": "function",
        "z": "tab_mm",
        "name": "診所查詢頁",
        "func": "var county = (msg.req.query.county || '').trim();\nvar dept   = (msg.req.query.dept   || '').trim();\nvar q      = (msg.req.query.q      || '').trim();\nvar userLat = parseFloat(msg.req.query.lat) || null;\nvar userLng = parseFloat(msg.req.query.lng) || null;\n\nvar COUNTY_MAP = {\"63000\":\"台北市\",\"65000\":\"新北市\",\"68000\":\"桃園市\",\"66000\":\"台中市\",\"67000\":\"台南市\",\"64000\":\"高雄市\",\"10002\":\"宜蘭縣\",\"10004\":\"新竹縣\",\"10005\":\"苗栗縣\",\"10007\":\"彰化縣\",\"10008\":\"南投縣\",\"10009\":\"雲林縣\",\"10010\":\"嘉義縣\",\"10013\":\"屏東縣\",\"10014\":\"台東縣\",\"10015\":\"花蓮縣\",\"10016\":\"澎湖縣\",\"10017\":\"基隆市\",\"10018\":\"新竹市\",\"10020\":\"嘉義市\",\"09007\":\"連江縣\",\"09020\":\"金門縣\"};\nvar countyName = county ? (COUNTY_MAP[county] || county) : '';\n\nmsg._county     = county;\nmsg._countyName = countyName;\nmsg._dept       = dept;\nmsg._q          = q;\nmsg._userLat    = userLat;\nmsg._userLng    = userLng;\n\nvar where = [\n  \"LTRIM(RTRIM(contract_type)) IN ('1','2','3','4')\",\n  \"(end_date IS NULL OR LTRIM(RTRIM(end_date))='' OR LTRIM(RTRIM(end_date)) >= CONVERT(NVARCHAR(8),GETDATE(),112))\"\n];\n\nif(county) where.push(\"LTRIM(RTRIM(county_code))=N'\"+county.replace(/'/g,\"''\")+\"'\");\nif(dept) where.push(\"departments LIKE N'%\"+dept.replace(/'/g,\"''\")+\"'%'\");\nif(q) {\n  var s=q.replace(/'/g,\"''\");\n  where.push(\"(med_name LIKE N'%\"+s+\"%' OR address LIKE N'%\"+s+\"%')\");\n}\n\n// 若有使用者座標且有 geocoded 資料，用 Haversine 距離排序；否則按名稱排\nvar orderBy;\nif(userLat && userLng) {\n  // Haversine in SQL（公里）\n  orderBy = \"(6371 * ACOS(ISNULL(COS(RADIANS(\"+userLat+\")) * COS(RADIANS(lat)) * COS(RADIANS(lng) - RADIANS(\"+userLng+\")) + SIN(RADIANS(\"+userLat+\")) * SIN(RADIANS(lat)),1))) ASC\";\n  // 有 lat 的排前面\n  where.push(\"lat IS NOT NULL\");\n}\n\nvar sql = 'SELECT TOP 100 med_code,med_name,med_type,phone,address,departments,schedule,county_code,contract_type,end_date,lat,lng'\n  +(userLat && userLng ? ',(6371*ACOS(ISNULL(COS(RADIANS('+userLat+'))*COS(RADIANS(lat))*COS(RADIANS(lng)-RADIANS('+userLng+'))+SIN(RADIANS('+userLat+'))*SIN(RADIANS(lat)),99999))) AS dist_km' : ',NULL AS dist_km')\n  +' FROM clinics WHERE '+where.join(' AND ')\n  +' ORDER BY '+(userLat && userLng ? orderBy : 'contract_type,med_name');\n\nmsg.payload = sql;\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 400,
        "wires": [
            [
                "cli_q"
            ]
        ]
    },
    {
        "id": "cli_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "bkn_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /booking",
        "url": "/booking",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "b41b890a6f66ce51"
            ]
        ]
    },
    {
        "id": "bkn_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "mbr_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /member",
        "url": "/member",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "mbr_f"
            ]
        ]
    },
    {
        "id": "mbr_f",
        "type": "function",
        "z": "tab_mm",
        "name": "會員中心頁 (MSSQL)",
        "func": "function parseCookies(req){\n  var c={}, h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){\n    var i=s.indexOf('=');\n    if(i<1) return;\n    var k=s.slice(0,i).trim();\n    var v=s.slice(i+1).trim();\n    if(v.charAt(0)==='\"') v=v.slice(1,v.lastIndexOf('\"'));\n    try{ v=decodeURIComponent(v); }catch(e){}\n    c[k]=v;\n  });\n  return c;\n}\nfunction getUser(req){\n  var c=parseCookies(req);\n  if(!c.mm_user) return null;\n  try{return JSON.parse(c.mm_user);}catch(e){return null;}\n}\nfunction getBookings(req){\n  var c=parseCookies(req);\n  if(!c.mm_bookings) return [];\n  try{return JSON.parse(c.mm_bookings);}catch(e){return [];}\n}\nfunction setCookie(name,val,days){\n  var exp=new Date(Date.now()+days*86400000).toUTCString();\n  return name+'='+encodeURIComponent(JSON.stringify(val))+'; Path=/; Expires='+exp+'; HttpOnly; SameSite=Lax';\n}\nvar user=getUser(msg.req);\nvar bookings=[];\nvar assessments=[];\nnode.warn('[mbr_f] mm_assess 筆數: '+assessments.length+' | cookie header: '+(msg.req&&msg.req.headers&&msg.req.headers.cookie||'(空)').slice(0,120));\n\n\nvar redirect=(msg.req.query.redirect||'');\n\n// ── build booking history HTML ──\n\n\n// ── LOGGED IN VIEW ──\nvar memberSection = user ? (\n  \"<div class='card hero'><h1>👤 歡迎回來，\"+user.name+\"</h1><p>您的個人健康記錄中心</p></div>\" +\n  \"<div class='card'>\" +\n  \"<div style='display:flex;justify-content:space-between;align-items:center;margin-bottom:1rem'>\" +\n  \"<h2 style='margin-bottom:0'>📅 掛號記錄</h2>\" +\n  \"<button class='btn btn-outline' style='padding:.3rem .8rem;font-size:.82rem' onclick='doLogout()'>登出</button>\" +\n  \"</div>\" +\n  \"<div id='bookingList'><div style='text-align:center;padding:1.5rem;color:var(--muted)'>載入中...</div></div>\" +\n  \"<a href='/booking' class='btn btn-primary btn-block mt1'>➕ 新增掛號</a>\" +\n  \"</div>\" +\n  \"<div class='card'>\" +\n  \"<div style='display:flex;justify-content:space-between;align-items:center;margin-bottom:1rem'>\" +\n  \"<h2 style='margin-bottom:0'>🩺 症狀評估記錄</h2>\" +\n  \"<button class='btn btn-outline' style='padding:.3rem .8rem;font-size:.82rem;color:#dc2626;border-color:#fca5a5' onclick='clearAssess()'>🗑️ 清除紀錄</button>\" +\n  \"</div>\" +\n  \"<div id='assessList'><div style='text-align:center;padding:1.5rem;color:var(--muted)'>載入中...</div></div>\" +\n  \"<a href='/symptom' class='btn btn-primary btn-block mt1'>➕ 新增症狀評估</a>\" +\n  \"</div>\"\n) : (\n  // ── NOT LOGGED IN VIEW ──\n  \"<div class='card hero'><h1>👤 會員中心</h1><p>登入後可查看就診記錄並進行線上掛號</p></div>\" +\n  (redirect ? \"<div class='alert alert-warning' style='margin-bottom:1rem'>⚠️ 請先登入才能進行掛號</div>\" : \"\") +\n  \"<div class='card' style='max-width:440px;margin:0 auto'>\" +\n  \"<div class='tabs'>\" +\n  \"<button class='tab-btn active' id='tabLogin' onclick=\\\"switchMTab('login')\\\">登入</button>\" +\n  \"<button class='tab-btn' id='tabReg' onclick=\\\"switchMTab('reg')\\\">註冊</button>\" +\n  \"</div>\" +\n  // LOGIN FORM\n  \"<div id='loginForm' class='tab-pane active'>\" +\n  \"<div class='form-group'><label>電子信箱 / 手機號碼</label><input type='text' id='loginId' placeholder='user@email.com 或 09xx-xxx-xxx'></div>\" +\n  \"<div class='form-group'><label>密碼</label><input type='password' id='loginPwd' placeholder='請輸入密碼'></div>\" +\n  \"<div id='loginErr' style='display:none' class='alert alert-warning'></div>\" +\n  \"<button class='btn btn-primary btn-block' onclick='doLogin()'>登入</button>\" +\n  \"</div>\" +\n  // REGISTER FORM\n  \"<div id='regForm' class='tab-pane'>\" +\n  \"<div class='form-group'><label>姓名</label><input type='text' id='regName' placeholder='請輸入真實姓名'></div>\" +\n  \"<div class='form-group'><label>電子信箱</label><input type='email' id='regEmail' placeholder='user@email.com'></div>\" +\n  \"<div class='form-group'><label>手機號碼</label><input type='tel' id='regPhone' placeholder='09xx-xxx-xxx'></div>\" +\n  \"<div class='form-group'><label>密碼</label><input type='password' id='regPwd' placeholder='至少8碼'></div>\" +\n  \"<div class='form-group'><label>確認密碼</label><input type='password' id='regPwd2' placeholder='再次輸入密碼'></div>\" +\n  \"<div id='regErr' style='display:none' class='alert alert-warning'></div>\" +\n  \"<button class='btn btn-primary btn-block' onclick='doRegister()'>建立帳號</button>\" +\n  \"</div></div>\"\n);\n\nvar redirectJs = redirect && user ? \"window.location='/\"+redirect+\"';\" : \"\";\n\nvar html=`<!DOCTYPE html><html lang='zh-TW'><head>\n<meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'>\n<title>會員中心 | MediMatch</title>\n<link rel='stylesheet' href='/static/style.css'>\n</head><body>\n<nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav>\n<main>${memberSection}</main>\n<script>\n${redirectJs}\nfunction switchMTab(t){\n  document.getElementById('tabLogin').classList.toggle('active',t==='login');\n  document.getElementById('tabReg').classList.toggle('active',t==='reg');\n  document.getElementById('loginForm').classList.toggle('active',t==='login');\n  document.getElementById('regForm').classList.toggle('active',t==='reg');\n}\nfunction doLogin(){\n  var id=document.getElementById('loginId').value.trim();\n  var pw=document.getElementById('loginPwd').value;\n  var errEl=document.getElementById('loginErr');\n  if(!id||!pw){errEl.innerText='請填寫帳號與密碼';errEl.style.display='';return;}\n  fetch('/api/login',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({id:id,password:pw})})\n    .then(function(r){return r.json();})\n    .then(function(d){\n      if(d.success){ window.location='${redirect ? \"/\"+redirect : \"/member\"}'; }\n      else{ errEl.innerText=d.error||'登入失敗，請再試一次'; errEl.style.display=''; }\n    });\n}\nfunction doRegister(){\n  var name=document.getElementById('regName').value.trim();\n  var email=document.getElementById('regEmail').value.trim();\n  var phone=document.getElementById('regPhone').value.trim();\n  var pw=document.getElementById('regPwd').value;\n  var pw2=document.getElementById('regPwd2').value;\n  var errEl=document.getElementById('regErr');\n  if(!name||(!email&&!phone)||!pw){errEl.innerText='請填寫完整資訊';errEl.style.display='';return;}\n  if(pw!==pw2){errEl.innerText='兩次密碼不一致';errEl.style.display='';return;}\n  if(pw.length<8){errEl.innerText='密碼至少需要8碼';errEl.style.display='';return;}\n  fetch('/api/register',{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({name:name,email:email||phone,phone:phone,password:pw})})\n    .then(function(r){return r.json();})\n    .then(function(d){\n      if(d.success){ window.location='${redirect ? \"/\"+redirect : \"/member\"}'; }\n      else{ errEl.innerText=d.error||'註冊失敗'; errEl.style.display=''; }\n    });\n}\nfunction fmtDate(val){\n  if(!val) return '-';\n  var d = new Date(val);\n  // 加 8 小時轉台灣時間\n  var tw = new Date(d.getTime() + 8*60*60*1000);\n  var Y  = tw.getUTCFullYear();\n  var M  = String(tw.getUTCMonth()+1).padStart(2,'0');\n  var D  = String(tw.getUTCDate()).padStart(2,'0');\n  var h  = String(tw.getUTCHours()).padStart(2,'0');\n  var m  = String(tw.getUTCMinutes()).padStart(2,'0');\n  return Y+'/'+M+'/'+D+' '+h+':'+m;\n}\nfunction fmtDay(val){\n  if(!val) return '-';\n  var d = new Date(val);\n  var tw = new Date(d.getTime() + 8*60*60*1000);\n  return tw.getUTCFullYear()+'/'\n    +String(tw.getUTCMonth()+1).padStart(2,'0')+'/'\n    +String(tw.getUTCDate()).padStart(2,'0');\n}\nfunction loadMemberData(){\n  fetch('/api/member-data')\n    .then(function(r){return r.json();})\n    .then(function(d){\n      if(!d.success) return;\n      var bl=document.getElementById('bookingList');\n      var al=document.getElementById('assessList');\n      if(bl) bl.innerHTML=fmtBookingItems(d.bookings);\n      if(al) al.innerHTML=fmtAssessItems(d.assessments);\n    });\n}\nfunction fmtBookingItems(bks){\n  if(!bks||bks.length===0) return \"<div style='text-align:center;padding:1.5rem;color:var(--muted)'>尚無掛號記錄</div>\";\n  return bks.map(function(b){\n    var d=fmtDay(b.appt_date);\n    return \"<div class='history-item'><span style='font-size:1.5rem'>🏥</span><div style='flex:1'><h3>\"+b.clinic+\" — \"+b.dept+\"</h3><p>\"+d+\" \"+b.appt_time+\" &nbsp;<span class='badge badge-blue'>第 \"+b.queue_no+\" 號</span> <span class='badge badge-green'>\"+b.status+\"</span></p></div></div>\";\n  }).join('');\n}\nfunction fmtAssessItems(items){\n  if(!items||items.length===0) return \"<div style='text-align:center;padding:1.5rem;color:var(--muted)'>尚無症狀評估記錄</div>\";\n  return items.map(function(a){\n    var sevClass=a.severity==='重症'?'badge-red':'badge-green';\n    var recClass=a.recommendation==='就醫'?'badge-yellow':'badge-blue';\n    var recIcon=a.recommendation==='就醫'?'🏥':'💊';\n    var d=fmtDate(a.created_at);\n    return \"<div class='history-item'><span style='font-size:1.5rem'>🔍</span><div style='flex:1'><h3>\"+a.category+\" — \"+a.department+\"</h3><p style='margin-bottom:.3rem;font-size:.82rem;color:var(--muted)'>\"+d+\"</p><p style='margin-bottom:.4rem;font-size:.84rem;color:var(--muted)'>\"+a.display_text+\"</p><span class='badge \"+sevClass+\"'>\"+a.severity+\"</span> <span class='badge \"+recClass+\"'>\"+recIcon+\" \"+a.recommendation+\"</span> <span class='badge badge-blue'>\"+a.department+\"</span></div></div>\";\n  }).join('');\n}\nfunction clearAssess(){\n  if(!confirm('確定要清除所有症狀評估紀錄嗎？此操作無法復原。')) return;\n  fetch('/api/clear-assess',{method:'POST'})\n    .then(function(r){return r.json();})\n    .then(function(d){\n      if(d.success){\n        document.getElementById('assessList').innerHTML=\"<div style='text-align:center;padding:1.5rem;color:var(--muted)'>尚無症狀評估記錄</div>\";\n      }\n    });\n}\nfunction doLogout(){\n  fetch('/api/logout',{method:'POST'}).then(function(){window.location='/member';});\n}\nif(document.getElementById(\"bookingList\")) loadMemberData();\n</script></body></html>`;\n\nmsg.payload=html;\nmsg.headers={'Content-Type':'text/html; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 520,
        "wires": [
            [
                "mbr_r"
            ]
        ]
    },
    {
        "id": "mbr_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 520,
        "wires": []
    },
    {
        "id": "lgn_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/login",
        "url": "/api/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 580,
        "wires": [
            [
                "lgn_f"
            ]
        ]
    },
    {
        "id": "lgn_f",
        "type": "function",
        "z": "tab_mm",
        "name": "登入 API (MSSQL)",
        "func": "var body = msg.payload;\nvar id   = (body.id||'').trim();\nvar pw   = (body.password||'').trim();\nif(!id||!pw){\n  msg.payload={success:false,error:'請填寫帳號與密碼'};\n  msg.statusCode=400;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nfunction esc(v){ return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nmsg.payload = \"SELECT TOP 1 id, name, email FROM users WHERE (email=\"+esc(id)+\" OR phone=\"+esc(id)+\") AND password=\"+esc(pw);\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "lgn_direct_r"
            ],
            [
                "lgn_q"
            ]
        ]
    },
    {
        "id": "lgn_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1000,
        "y": 600,
        "wires": []
    },
    {
        "id": "reg_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/register",
        "url": "/api/register",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "reg_f"
            ]
        ]
    },
    {
        "id": "reg_f",
        "type": "function",
        "z": "tab_mm",
        "name": "註冊 API (MySQL)",
        "func": "var body=msg.payload;\nvar name=(body.name||'').trim();\nvar email=(body.email||'').trim();\nvar phone=(body.phone||'').trim();\nvar pw=(body.password||'').trim();\nif(!name||!email||!pw){\n  msg.payload={success:false,error:'請填寫完整資訊'};\n  msg.statusCode=400;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nfunction esc(v){ if(!v) return 'NULL'; return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nmsg.payload = \"INSERT INTO users (email,phone,name,password) OUTPUT INSERTED.id VALUES (\"+esc(email)+\",\"+esc(phone||null)+\",\"+esc(name)+\",\"+esc(pw)+\")\";\nmsg._regUser={name:name,email:email};\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 340,
        "y": 640,
        "wires": [
            [
                "reg_direct_r"
            ],
            [
                "reg_q"
            ]
        ]
    },
    {
        "id": "reg_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1000,
        "y": 680,
        "wires": []
    },
    {
        "id": "lgt_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/logout",
        "url": "/api/logout",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 720,
        "wires": [
            [
                "lgt_f"
            ]
        ]
    },
    {
        "id": "lgt_f",
        "type": "function",
        "z": "tab_mm",
        "name": "登出 API (清除Cookie)",
        "func": "// ✅ 設 expires 過去時間 = 刪除 cookie\nmsg.cookies = {\n  mm_user: { value:'', maxAge:0, path:'/', httpOnly:true }\n};\nmsg.payload    = {success:true};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "lgt_r"
            ]
        ]
    },
    {
        "id": "lgt_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 720,
        "wires": []
    },
    {
        "id": "bka_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/booking",
        "url": "/api/booking",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "bka_f"
            ]
        ]
    },
    {
        "id": "bka_f",
        "type": "function",
        "z": "tab_mm",
        "name": "掛號確認 API (MySQL)",
        "func": "function parseCookies(req){\n  var c={},h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){var i=s.indexOf('=');if(i<1)return;var k=s.slice(0,i).trim(),v=s.slice(i+1).trim();if(v.charAt(0)==='\"')v=v.slice(1,v.lastIndexOf('\"'));try{v=decodeURIComponent(v);}catch(e){}c[k]=v;});\n  return c;\n}\nvar c=parseCookies(msg.req),user=null;\ntry{user=JSON.parse(c.mm_user);}catch(e){}\nif(!user||!user.id){\n  msg.payload={success:false,error:'請先登入'};\n  msg.statusCode=401;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nvar body=msg.payload;\nfunction esc(v){ if(!v) return 'NULL'; return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nvar qn=Math.floor(Math.random()*50)+1;\nmsg.payload=\"INSERT INTO bookings (user_id,clinic,dept,appt_date,appt_time,queue_no) OUTPUT INSERTED.id VALUES (\"+user.id+\",\"+esc(body.clinic)+\",\"+esc(body.dept)+\",\"+esc(body.date)+\",\"+esc(body.time)+\",\"+qn+\")\";\nmsg._booking={clinic:body.clinic,dept:body.dept,date:body.date,time:body.time,queue:qn};\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 360,
        "y": 780,
        "wires": [
            [
                "bka_direct_r"
            ],
            [
                "bka_q"
            ]
        ]
    },
    {
        "id": "bka_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "dbg_cls",
        "type": "debug",
        "z": "tab_mm",
        "name": "[DEBUG] cls_p 輸出",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "sva_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/save-assess",
        "url": "/api/save-assess",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "sva_f"
            ]
        ]
    },
    {
        "id": "sva_f",
        "type": "function",
        "z": "tab_mm",
        "name": "儲存評估紀錄 (MySQL)",
        "func": "function parseCookies(req){\n  var c={},h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){var i=s.indexOf('=');if(i<1)return;var k=s.slice(0,i).trim(),v=s.slice(i+1).trim();if(v.charAt(0)==='\"')v=v.slice(1,v.lastIndexOf('\"'));try{v=decodeURIComponent(v);}catch(e){}c[k]=v;});\n  return c;\n}\nvar c=parseCookies(msg.req),user=null;\ntry{user=JSON.parse(c.mm_user);}catch(e){}\nif(!user||!user.id){\n  msg.payload={success:false,error:'請先登入'};\n  msg.statusCode=401;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nvar body=msg.payload;\nfunction esc(v){ if(!v) return 'NULL'; return \"'\"+String(v).replace(/'/g,\"''\")+\"'\"; }\nvar uid=user.id;\nvar dt=esc((body.displayText||'').slice(0,200));\nvar cat=esc(body.category||'一般症狀');\nvar sev=esc(body.severity==='重症'?'重症':'輕症');\nvar rec=esc(body.recommendation==='就醫'?'就醫':'成藥');\nvar dept=esc(body.department||'內科');\nvar adv=esc((body.advice||'').slice(0,300));\nmsg.payload=\"INSERT INTO assessments (user_id,display_text,category,severity,recommendation,department,advice) OUTPUT INSERTED.id VALUES (\"+uid+\",\"+dt+\",\"+cat+\",\"+sev+\",\"+rec+\",\"+dept+\",\"+adv+\")\";\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "sva_direct_r"
            ],
            [
                "sva_q"
            ]
        ]
    },
    {
        "id": "sva_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 900,
        "wires": []
    },
    {
        "id": "clr_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "POST /api/clear-assess",
        "url": "/api/clear-assess",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "clr_f"
            ]
        ]
    },
    {
        "id": "clr_f",
        "type": "function",
        "z": "tab_mm",
        "name": "清除評估紀錄 (MySQL)",
        "func": "function parseCookies(req){\n  var c={},h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){var i=s.indexOf('=');if(i<1)return;var k=s.slice(0,i).trim(),v=s.slice(i+1).trim();if(v.charAt(0)==='\"')v=v.slice(1,v.lastIndexOf('\"'));try{v=decodeURIComponent(v);}catch(e){}c[k]=v;});\n  return c;\n}\nvar c=parseCookies(msg.req),user=null;\ntry{user=JSON.parse(c.mm_user);}catch(e){}\nif(!user||!user.id){\n  msg.payload={success:false,error:'請先登入'};\n  msg.statusCode=401;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nmsg.payload=\"DELETE FROM assessments WHERE user_id=\"+user.id;\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 370,
        "y": 980,
        "wires": [
            [
                "clr_direct_r"
            ],
            [
                "clr_q"
            ]
        ]
    },
    {
        "id": "clr_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 1000,
        "wires": []
    },
    {
        "id": "lgn_direct_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 560,
        "wires": []
    },
    {
        "id": "lgn_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查詢使用者",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 590,
        "y": 600,
        "wires": [
            [
                "lgn_parse"
            ]
        ]
    },
    {
        "id": "lgn_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "解析登入結果",
        "func": "node.warn('[lgn_parse] payload: ' + JSON.stringify(msg.payload).slice(0,300));\n\nvar rows = msg.payload;\n\n// mssql-plus 可能回傳 {recordset:[...]} 或直接陣列\nif(rows && rows.recordset) rows = rows.recordset;\nif(!Array.isArray(rows)) rows = rows ? [rows] : [];\n\nif(rows.length === 0){\n  msg.payload    = {success:false, error:'帳號或密碼錯誤'};\n  msg.statusCode = 401;\n  msg.headers    = {'Content-Type':'application/json; charset=utf-8'};\n  return msg;\n}\n\nvar user = rows[0];\nvar sessionUser = {\n  id:       user.id    || user.ID    || user.Id,\n  name:     user.name  || user.NAME  || user.Name,\n  email:    user.email || user.EMAIL || user.Email,\n  loginAt:  Date.now()\n};\n\nnode.warn('[lgn_parse] sessionUser: ' + JSON.stringify(sessionUser));\n\nmsg.cookies = {\n  mm_user: {\n    value:   JSON.stringify(sessionUser),\n    maxAge:  7*86400,\n    path:    '/',\n    httpOnly:true,\n    sameSite:'Lax'\n  }\n};\nmsg.payload    = {success:true, user:sessionUser};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 820,
        "y": 600,
        "wires": [
            [
                "lgn_r"
            ]
        ]
    },
    {
        "id": "reg_direct_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "reg_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 新增使用者",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 590,
        "y": 680,
        "wires": [
            [
                "reg_parse"
            ]
        ]
    },
    {
        "id": "reg_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "解析註冊結果",
        "func": "var rows = Array.isArray(msg.payload) ? msg.payload : []; var result = rows[0] || {};\nvar user = msg._regUser || {};\nvar newUser = {id: result.id, name:user.name, email:user.email, loginAt:Date.now()};\nmsg.cookies = {\n  mm_user: {\n    value: JSON.stringify(newUser),\n    maxAge: 7*86400, path:'/', httpOnly:true, sameSite:'Lax'\n  }\n};\nmsg.payload    = {success:true, user:newUser};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 820,
        "y": 680,
        "wires": [
            [
                "reg_r"
            ]
        ]
    },
    {
        "id": "sva_direct_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 860,
        "wires": []
    },
    {
        "id": "sva_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 新增評估",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 610,
        "y": 900,
        "wires": [
            [
                "sva_parse"
            ]
        ]
    },
    {
        "id": "sva_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "回應",
        "func": "var rows = Array.isArray(msg.payload) ? msg.payload : [];\nmsg.payload    = {success:true, id: rows[0] && rows[0].id};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 830,
        "y": 900,
        "wires": [
            [
                "sva_r"
            ]
        ]
    },
    {
        "id": "clr_direct_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 960,
        "wires": []
    },
    {
        "id": "clr_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 刪除評估",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 610,
        "y": 1000,
        "wires": [
            [
                "clr_parse"
            ]
        ]
    },
    {
        "id": "clr_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "回應",
        "func": "msg.payload    = {success:true};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 1000,
        "wires": [
            [
                "clr_r"
            ]
        ]
    },
    {
        "id": "bka_direct_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 760,
        "wires": []
    },
    {
        "id": "bka_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 新增掛號",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 590,
        "y": 800,
        "wires": [
            [
                "bka_parse"
            ]
        ]
    },
    {
        "id": "bka_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "回應",
        "func": "var rows = Array.isArray(msg.payload) ? msg.payload : [];\nvar bk = msg._booking || {};\nbk.id = rows[0] && rows[0].id;\nmsg.payload    = {success:true, booking:bk};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 850,
        "y": 820,
        "wires": [
            [
                "bka_r"
            ]
        ]
    },
    {
        "id": "mbd_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /api/member-data",
        "url": "/api/member-data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 1215,
        "wires": [
            [
                "mbd_auth"
            ]
        ]
    },
    {
        "id": "mbd_auth",
        "type": "function",
        "z": "tab_mm",
        "name": "驗證登入",
        "func": "function parseCookies(req){\n  var c={},h=(req.headers&&req.headers.cookie)||'';\n  h.split(';').forEach(function(s){var i=s.indexOf('=');if(i<1)return;var k=s.slice(0,i).trim(),v=s.slice(i+1).trim();if(v.charAt(0)==='\"')v=v.slice(1,v.lastIndexOf('\"'));try{v=decodeURIComponent(v);}catch(e){}c[k]=v;});\n  return c;\n}\nvar c=parseCookies(msg.req),user=null;\ntry{user=JSON.parse(c.mm_user);}catch(e){}\nif(!user||!user.id){\n  msg.payload={success:false,error:'未登入'};\n  msg.statusCode=401;\n  msg.headers={'Content-Type':'application/json; charset=utf-8'};\n  return [msg,null];\n}\nmsg._userId=user.id;\nnode.warn('[mbd_auth] user_id='+user.id+' querying assessments...');\nmsg.payload=\"SELECT TOP 20 id,display_text,category,severity,recommendation,department,advice,created_at FROM assessments WHERE user_id=\"+user.id+\" ORDER BY created_at DESC\";\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 330,
        "y": 1215,
        "wires": [
            [
                "mbd_unauth"
            ],
            [
                "mbd_qa"
            ]
        ]
    },
    {
        "id": "mbd_unauth",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 1200,
        "wires": []
    },
    {
        "id": "mbd_qa",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查評估",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 550,
        "y": 1235,
        "wires": [
            [
                "mbd_qb_prep"
            ]
        ]
    },
    {
        "id": "mbd_qb_prep",
        "type": "function",
        "z": "tab_mm",
        "name": "接續查掛號",
        "func": "node.warn('[mbd_qb_prep] raw payload: ' + JSON.stringify(msg.payload).slice(0,300));\n\nvar rows = msg.payload;\nif(rows && rows.recordset) rows = rows.recordset;\nelse if(rows && rows.recordsets && rows.recordsets[0]) rows = rows.recordsets[0];\nif(!Array.isArray(rows)) rows = rows ? [rows] : [];\n\nnode.warn('[mbd_qb_prep] assessments count: ' + rows.length);\n\n// ✅ 用 JSON 字串存，避免 MSSQL node 執行時覆蓋 msg._assessments\nmsg._assessmentsJSON = JSON.stringify(rows);\n\nmsg.payload  = \"SELECT TOP 20 id,clinic,dept,appt_date,appt_time,queue_no,status,created_at FROM bookings WHERE user_id=\"+msg._userId+\" ORDER BY created_at DESC\";\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "x": 740,
        "y": 1235,
        "wires": [
            [
                "mbd_qb"
            ]
        ]
    },
    {
        "id": "mbd_qb",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查掛號",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 930,
        "y": 1235,
        "wires": [
            [
                "mbd_resp"
            ]
        ]
    },
    {
        "id": "mbd_resp",
        "type": "function",
        "z": "tab_mm",
        "name": "組合回應",
        "func": "node.warn('[mbd_resp] bookings raw: ' + JSON.stringify(msg.payload).slice(0,300));\n\n// 還原 assessments\nvar assessments = [];\ntry{ assessments = JSON.parse(msg._assessmentsJSON || '[]'); }catch(e){ assessments=[]; }\n\n// 處理 bookings\nvar bookings = msg.payload;\nif(bookings && bookings.recordset) bookings = bookings.recordset;\nelse if(bookings && bookings.recordsets && bookings.recordsets[0]) bookings = bookings.recordsets[0];\nif(!Array.isArray(bookings)) bookings = bookings ? [bookings] : [];\n\nnode.warn('[mbd_resp] assessments: '+assessments.length+' bookings: '+bookings.length);\n\nmsg.payload = {\n  success:     true,\n  assessments: assessments,\n  bookings:    bookings\n};\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 1110,
        "y": 1235,
        "wires": [
            [
                "mbd_r"
            ]
        ]
    },
    {
        "id": "mbd_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 1235,
        "wires": []
    },
    {
        "id": "meds_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查成藥",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1040,
        "y": 180,
        "wires": [
            [
                "meds_ins"
            ]
        ]
    },
    {
        "id": "meds_ins",
        "type": "function",
        "z": "tab_mm",
        "name": "比對新增成藥",
        "func": "var dbRows = msg.payload;\nif(dbRows && dbRows.recordset) dbRows = dbRows.recordset;\nif(!Array.isArray(dbRows)) dbRows = dbRows ? [dbRows] : [];\n\nvar result   = msg._geminiResult || {};\nvar medNames = msg._medNames || [];\n\n// 找出 DB 裡已有的藥名\nvar existNames = dbRows.map(function(r){ return r.name; });\n\n// 找出 Gemini 推薦但 DB 沒有的\nvar newNames = medNames.filter(function(n){ return existNames.indexOf(n) === -1; });\nnode.warn('[meds_ins] DB有: '+existNames+' | 新增: '+newNames);\n\n// 把 DB 有的藥品資料附加到 result\nresult._dbMeds = dbRows;\nresult._origBody = msg.origBody || {};\nmsg._geminiResult = result;\n\nif(newNames.length > 0) {\n  // 批次 INSERT 新藥（category 和 symptoms 從 result 推斷）\n  var category = result.category || '其他';\n  // 對應類別\n  var catMap = {感冒:'感冒',流感:'感冒',腸胃炎:'腸胃',腹瀉:'腸胃',頭痛:'止痛',發燒:'止痛',過敏:'過敏',咳嗽:'咳嗽',皮膚:'皮膚'};\n  var dbCat = '其他';\n  Object.keys(catMap).forEach(function(k){ if(category.includes(k)) dbCat=catMap[k]; });\n\n  var values = newNames.map(function(n){\n    return \"(N'\"+n.replace(/'/g,\"''\")+\"', N'\"+dbCat+\"', N'\"+category.replace(/'/g,\"''\")+\"相關症狀', NULL, N'新增自AI推薦，請藥師確認後補充詳細資訊')\";\n  }).join(',');\n\n  msg.payload = 'INSERT INTO medicines (name,category,symptoms,dosage,warnings) VALUES '+values;\n  delete msg.params;\n  return [msg, null]; // output1 → meds_ins_q\n} else {\n  // 不需要新增，直接合併\n  msg.payload = result;\n  msg.statusCode = 200;\n  msg.headers = {'Content-Type':'application/json; charset=utf-8'};\n  return [null, msg]; // output2 → cls_r\n}",
        "outputs": 2,
        "x": 1240,
        "y": 180,
        "wires": [
            [
                "meds_ins_q"
            ],
            [
                "cls_r"
            ]
        ]
    },
    {
        "id": "meds_ins_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL INSERT成藥",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1480,
        "y": 160,
        "wires": [
            [
                "meds_final"
            ]
        ]
    },
    {
        "id": "meds_final",
        "type": "function",
        "z": "tab_mm",
        "name": "合併結果",
        "func": "var result = msg._geminiResult || {};\nmsg.payload    = result;\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'application/json; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 1680,
        "y": 160,
        "wires": [
            [
                "cls_r"
            ]
        ]
    },
    {
        "id": "med_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查成藥",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "med_render"
            ]
        ]
    },
    {
        "id": "med_render",
        "type": "function",
        "z": "tab_mm",
        "name": "組成藥頁面",
        "func": "var rows = msg.payload;\nif(rows && rows.recordset) rows = rows.recordset;\nif(!Array.isArray(rows)) rows = rows ? [rows] : [];\n\nvar q        = msg._query    || '';\nvar category = msg._category || '';\n\n// 類別清單\nvar categories = ['感冒','腸胃','止痛','過敏','咳嗽','皮膚','其他'];\n\n// 類別 badge 顏色\nvar catColor = {感冒:'badge-blue',腸胃:'badge-yellow',止痛:'badge-red',過敏:'badge-green',咳嗽:'badge-blue',皮膚:'badge-green',其他:'badge-blue'};\n\n// 類別篩選按鈕\nvar catBtns = categories.map(function(c){\n  var active = category===c ? \"background:var(--p);color:#fff;border-color:var(--p)\" : \"\";\n  return \"<a href='/medicine?category=\"+encodeURIComponent(c)+\"' class='btn btn-outline' style='padding:.3rem .8rem;font-size:.82rem;\"+active+\"'>\"+c+\"</a>\";\n}).join('');\n\n// 成藥卡片\nvar items = '';\nif(rows.length === 0) {\n  items = \"<div class='alert alert-info'>找不到符合的成藥資料</div>\";\n} else {\n  items = rows.map(function(m){\n    var cc = catColor[m.category] || 'badge-blue';\n    return \"<div class='item-card'>\" +\n      \"<span class='item-icon'>💊</span>\" +\n      \"<div class='item-info'>\" +\n      \"<h3>\"+m.name+\" <span class='badge \"+cc+\"'>\"+m.category+\"</span></h3>\" +\n      \"<p style='font-size:.85rem;margin-bottom:.25rem'>📋 \"+m.symptoms+\"</p>\" +\n      (m.dosage   ? \"<p style='font-size:.83rem;color:var(--muted);margin-bottom:.2rem'>💉 \"+m.dosage+\"</p>\" : \"\") +\n      (m.warnings ? \"<p style='font-size:.82rem;color:#dc2626;margin-bottom:0'>⚠️ \"+m.warnings+\"</p>\" : \"\") +\n      \"</div></div>\";\n  }).join('');\n}\n\nvar html = [\n  \"<!DOCTYPE html><html lang='zh-TW'><head>\",\n  \"<meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'>\",\n  \"<title>成藥查詢 | MediMatch</title>\",\n  \"<link rel='stylesheet' href='/static/style.css'>\",\n  \"</head><body>\",\n  \"<nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav>\",\n  \"<main>\",\n  \"<div class='card hero'><h1>💊 成藥查詢</h1><p>共 \"+rows.length+\" 筆資料，資料來自成藥資料庫</p></div>\",\n  \"<div class='card'>\",\n  \"<h2>🔍 搜尋</h2>\",\n  \"<form method='get' action='/medicine' style='display:flex;gap:.6rem;margin-bottom:.8rem'>\",\n  \"<input type='text' name='q' value='\"+q.replace(/'/g,\"&#39;\")+\"' placeholder='輸入藥品名稱或症狀...' style='flex:1'>\",\n  \"<button type='submit' class='btn btn-primary'>搜尋</button>\",\n  (q||category ? \"<a href='/medicine' class='btn btn-outline'>清除</a>\" : \"\"),\n  \"</form>\",\n  \"<div style='display:flex;flex-wrap:wrap;gap:.4rem'>\",\n  \"<a href='/medicine' class='btn btn-outline' style='padding:.3rem .8rem;font-size:.82rem;\"+((!q&&!category)?\"background:var(--p);color:#fff;border-color:var(--p)\":\"\")+\"'>全部</a>\",\n  catBtns,\n  \"</div>\",\n  \"</div>\",\n  \"<div class='alert alert-warning'>⚠️ 成藥僅供參考，購買前請詳閱說明書並諮詢藥師</div>\",\n  items,\n  \"</main></body></html>\"\n].join('');\n\nmsg.payload    = html;\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'text/html; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 770,
        "y": 340,
        "wires": [
            [
                "med_r"
            ]
        ]
    },
    {
        "id": "sync_inject",
        "type": "inject",
        "z": "tab_mm",
        "name": "每日 03:00 同步健保診所",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "sync_init"
            ]
        ]
    },
    {
        "id": "sync_init",
        "type": "function",
        "z": "tab_mm",
        "name": "初始化同步任務",
        "func": "var resourceIds = [\n  'A21030000I-D21001-003',\n  'A21030000I-D21002-005',\n  'A21030000I-D21003-003',\n  'A21030000I-D21004-009'\n];\nmsg.resourceIds  = resourceIds;\nmsg.currentIndex = 0;\nmsg.offset       = 0;\nmsg.totalSynced  = 0;\nmsg.batchSize    = 1000;\nnode.warn('[sync] 開始同步 4 個資料集：醫學中心/區域醫院/地區醫院/診所');\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "sync_fetch"
            ]
        ]
    },
    {
        "id": "sync_fetch",
        "type": "function",
        "z": "tab_mm",
        "name": "建立 NHI API 請求",
        "func": "var ids    = msg.resourceIds;\nvar idx    = msg.currentIndex;\nvar offset = msg.offset;\nvar limit  = msg.batchSize;\nvar rid    = ids[idx];\n\nvar url = 'https://info.nhi.gov.tw/api/iode0010/v1/rest/datastore/'+rid\n  +'?limit='+limit+'&offset='+offset;\n\nnode.warn('[sync] fetch '+rid+' offset='+offset);\nmsg.url    = url;\nmsg.method = 'GET';\nmsg.headers = { 'Accept': 'application/json' };\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "x": 550,
        "y": 1300,
        "wires": [
            [
                "sync_http"
            ]
        ]
    },
    {
        "id": "sync_http",
        "type": "http request",
        "z": "tab_mm",
        "name": "GET NHI API",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 1300,
        "wires": [
            [
                "sync_parse"
            ]
        ]
    },
    {
        "id": "sync_parse",
        "type": "function",
        "z": "tab_mm",
        "name": "解析 NHI 資料",
        "func": "node.warn('[sync_parse] resource['+msg.currentIndex+'] HTTP status: '+(msg.statusCode||'?'));\n\nvar data = msg.payload;\nif(typeof data === 'string') {\n  try { data = JSON.parse(data); } catch(e) {\n    node.warn('[sync_parse] JSON parse 失敗: '+e.message);\n    msg._records=[]; msg._rawCount=0; msg._hasMore=false;\n    return msg;\n  }\n}\n\nvar records = [];\nif(data && data.success && data.result && Array.isArray(data.result.records)) {\n  records = data.result.records;\n} else if(Array.isArray(data)) {\n  records = data;\n} else if(data && Array.isArray(data.records)) {\n  records = data.records;\n}\n\nnode.warn('[sync_parse] 取得 '+records.length+' 筆');\nif(records.length>0) node.warn('[sync_parse] 欄位: '+Object.keys(records[0]).slice(0,5).join(','));\n\n// 各 resource 本身已是特定類別，不需再篩選\nmsg._records    = records;\nmsg._rawCount   = records.length;\nmsg.totalSynced += records.length;\nmsg._hasMore    = records.length >= msg.batchSize;\nreturn msg;",
        "outputs": 1,
        "x": 940,
        "y": 1300,
        "wires": [
            [
                "sync_upsert_prep"
            ]
        ]
    },
    {
        "id": "sync_upsert_prep",
        "type": "function",
        "z": "tab_mm",
        "name": "準備 UPSERT SQL",
        "func": "var records = msg._records || [];\n\nif(records.length === 0) {\n  node.warn('[upsert] 無資料');\n  msg.payload = 'SELECT 0 AS affected';\n  return [msg, null];\n}\n\nfunction esc(v){\n  if(v===null||v===undefined||v==='') return 'NULL';\n  return \"N'\"+String(v).replace(/'/g,\"''\").slice(0,490)+\"'\";\n}\n\n// 切成 100 筆一組\nvar chunkSize = 100;\nvar chunks = [];\nfor(var i=0; i<records.length; i+=chunkSize) {\n  chunks.push(records.slice(i, i+chunkSize));\n}\n\n// 存所有 chunk 的 SQL 到 msg._sqls\nvar cols = 'med_code,med_name,med_type,phone,address,division,contract_type,service_items,departments,end_date,schedule,note,county_code,contract_start';\n\nmsg._sqls = chunks.map(function(chunk){\n  var rows = chunk.map(function(r){\n    return '('+[\n      esc(r['HOSP_ID']),\n      esc(r['HOSP_NAME']),\n      esc(r['HOSP_CODE_CNAME']),\n      esc(r['TEL']),\n      esc(r['ADDRESS']),\n      esc(r['BRANCH_TYPE_CNAME']),\n      esc(r['SPECIAL_TYPE']),\n      esc(r['SERVICE_CNAME']),\n      esc(r['FUNCTYPE_CNAME']),\n      esc(r['CLOSESHOP']),\n      esc(r['HOLIDAYDUTY_CNAME']),\n      esc(r['HOLIDAY_REMARK_CNAME']),\n      esc(r['GOVAREANO']),\n      esc(r['CONT_S_DATE'])\n    ].join(',')+')';\n  });\n  return 'MERGE clinics AS target '+\n    'USING (VALUES '+rows.join(',')+') AS src('+cols+') '+\n    'ON target.med_code = src.med_code '+\n    'WHEN MATCHED THEN UPDATE SET '+\n    'med_name=src.med_name,med_type=src.med_type,phone=src.phone,address=src.address,'+\n    'division=src.division,contract_type=src.contract_type,service_items=src.service_items,'+\n    'departments=src.departments,end_date=src.end_date,schedule=src.schedule,'+\n    'note=src.note,county_code=src.county_code,contract_start=src.contract_start,synced_at=GETDATE() '+\n    'WHEN NOT MATCHED THEN INSERT ('+cols+',synced_at) VALUES '+\n    '(src.med_code,src.med_name,src.med_type,src.phone,src.address,src.division,'+\n    'src.contract_type,src.service_items,src.departments,src.end_date,src.schedule,'+\n    'src.note,src.county_code,src.contract_start,GETDATE());';\n});\n\nmsg._sqlIndex = 0;\nnode.warn('[upsert] 共 '+records.length+' 筆，分 '+chunks.length+' 批次 (每批 '+chunkSize+' 筆)');\n\n// 送第一批\nmsg.payload = msg._sqls[0];\ndelete msg.params;\nreturn [null, msg];",
        "outputs": 2,
        "x": 1140,
        "y": 1300,
        "wires": [
            [
                "sync_next"
            ],
            [
                "sync_mssql"
            ]
        ]
    },
    {
        "id": "sync_mssql",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL UPSERT 診所",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1640,
        "y": 1320,
        "wires": [
            [
                "sync_upsert_loop"
            ]
        ]
    },
    {
        "id": "sync_next",
        "type": "function",
        "z": "tab_mm",
        "name": "判斷繼續/完成",
        "func": "if(msg._hasMore) {\n  // 繼續同一個 resource ID 下一頁\n  msg.offset += msg.batchSize;\n  return [msg, null, null];\n}\n// 下一個 resource ID\nmsg.currentIndex++;\nmsg.offset = 0;\nif(msg.currentIndex < msg.resourceIds.length) {\n  node.warn('[sync] 切換到 resource['+msg.currentIndex+']');\n  return [null, msg, null];\n}\n// 全部完成\nnode.warn('[sync] 全部同步完成，共 '+msg.totalSynced+' 筆有效資料');\nmsg.payload = '[sync] 健保診所資料同步完成，共 '+msg.totalSynced+' 筆';\nreturn [null, null, msg];",
        "outputs": 3,
        "x": 1460,
        "y": 1380,
        "wires": [
            [
                "sync_fetch"
            ],
            [
                "sync_fetch"
            ],
            [
                "sync_done"
            ]
        ]
    },
    {
        "id": "sync_done",
        "type": "debug",
        "z": "tab_mm",
        "name": "同步完成 LOG",
        "active": true,
        "tosidebar": true,
        "console": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1730,
        "y": 1400,
        "wires": []
    },
    {
        "id": "cli_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查診所",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 580,
        "y": 400,
        "wires": [
            [
                "cli_render"
            ]
        ]
    },
    {
        "id": "cli_render",
        "type": "function",
        "z": "tab_mm",
        "name": "組診所頁面",
        "func": "var rows = msg.payload;\nif(rows && rows.recordset) rows = rows.recordset;\nif(!Array.isArray(rows)) rows = rows ? [rows] : [];\n\nvar county     = msg._county     || '';\nvar countyName = msg._countyName || '';\nvar dept       = msg._dept       || '';\nvar q          = msg._q          || '';\nvar userLat    = msg._userLat;\nvar userLng    = msg._userLng;\nvar hasCoord   = !!(userLat && userLng);\n\nvar COUNTY_MAP = {\"63000\":\"台北市\",\"65000\":\"新北市\",\"68000\":\"桃園市\",\"66000\":\"台中市\",\"67000\":\"台南市\",\"64000\":\"高雄市\",\"10002\":\"宜蘭縣\",\"10004\":\"新竹縣\",\"10005\":\"苗栗縣\",\"10007\":\"彰化縣\",\"10008\":\"南投縣\",\"10009\":\"雲林縣\",\"10010\":\"嘉義縣\",\"10013\":\"屏東縣\",\"10014\":\"台東縣\",\"10015\":\"花蓮縣\",\"10016\":\"澎湖縣\",\"10017\":\"基隆市\",\"10018\":\"新竹市\",\"10020\":\"嘉義市\",\"09007\":\"連江縣\",\"09020\":\"金門縣\"};\n\nvar typeLabel = {'1':'醫學中心','2':'區域醫院','3':'地區醫院','4':'診所'};\nvar typeColor = {'1':'badge-red','2':'badge-yellow','3':'badge-blue','4':'badge-green'};\n\nvar COUNTIES = Object.entries(COUNTY_MAP).map(function(e){\n  return \"<option value='\"+e[0]+\"'\"+(county===e[0]?\" selected\":\"\")+\">\"+e[1]+\"</option>\";\n}).join('');\n\nvar items = '';\nif(!county) {\n  items = \"<div class='alert alert-info' style='text-align:center;padding:2rem'>📡 正在取得您的位置，請稍候...<br><span style='font-size:.85rem;color:var(--muted)'>或請手動選擇縣市</span></div>\";\n} else if(rows.length === 0) {\n  items = \"<div class='alert alert-info'>在 \"+countyName+\" 找不到符合條件的機構</div>\";\n} else {\n  items = rows.map(function(c){\n    var label = typeLabel[c.contract_type] || '';\n    var cc    = typeColor[c.contract_type] || 'badge-blue';\n    var depts = c.departments ? c.departments.split(/[,，、]/).slice(0,4).join('・') : '';\n    var dist  = (c.dist_km !== null && c.dist_km !== undefined && c.dist_km < 9999)\n      ? (\"<span class='badge badge-green' style='margin-left:.3rem'>📏 \"+(c.dist_km<1?(Math.round(c.dist_km*1000)+'m'):(Math.round(c.dist_km*10)/10+'km'))+\"</span>\")\n      : \"\";\n    return \"<div class='item-card'>\"+\n      \"<span class='item-icon'>🏥</span>\"+\n      \"<div class='item-info'>\"+\n      \"<h3>\"+c.med_name+\" <span class='badge \"+cc+\"'>\"+label+\"</span>\"+dist+\"</h3>\"+\n      (depts?\"<p style='font-size:.83rem;margin-bottom:.2rem'>🩺 \"+depts+\"</p>\":\"\")+\n      \"<p style='font-size:.83rem;margin-bottom:.2rem'>📍 \"+(c.address||'-')+\"</p>\"+\n      \"<p style='font-size:.83rem;margin-bottom:.4rem'>📞 \"+(c.phone||'-')+\"</p>\"+\n      \"<a href='/booking?clinic=\"+encodeURIComponent(c.med_name)+\"' class='btn btn-primary' style='padding:.3rem .8rem;font-size:.82rem'>📅 掛號</a>\"+\n      \"</div></div>\";\n  }).join('');\n}\n\nvar sortNote = hasCoord\n  ? \"<div class='alert alert-success'>📡 已依您的位置（\"+Math.round(userLat*1000)/1000+\", \"+Math.round(userLng*1000)/1000+\"）由近到遠排列</div>\"\n  : (county ? \"<div class='alert alert-info'>💡 取得位置授權後可依距離排序</div>\" : \"\");\n\nvar html = [\n  \"<!DOCTYPE html><html lang='zh-TW'><head>\",\n  \"<meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'>\",\n  \"<title>診所查詢 | MediMatch</title>\",\n  \"<link rel='stylesheet' href='/static/style.css'>\",\n  \"</head><body>\",\n  \"<nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav>\",\n  \"<main>\",\n  \"<div class='card hero'><h1>🏥 健保特約醫事機構</h1><p>資料來源：健保署開放資料\"+(county?\" | \"+countyName+(hasCoord?\" | 依距離排序\":\"\"):\"\")+\"</p></div>\",\n\n  \"<div class='card'>\",\n  \"<h2>🔍 查詢條件</h2>\",\n  \"<form method='get' action='/clinic' id='clinicForm'>\",\n  \"<input type='hidden' name='lat' id='hLat' value='\"+(userLat||'')+\"'>\",\n  \"<input type='hidden' name='lng' id='hLng' value='\"+(userLng||'')+\"'>\",\n  \"<div class='form-group' style='margin-bottom:.6rem'>\",\n  \"<label>縣市</label>\",\n  \"<select name='county' id='countySelect' style='width:100%;padding:.6rem;border:2px solid var(--bdr);border-radius:10px;font-family:inherit;font-size:.93rem'>\",\n  \"<option value=''>-- 請選擇縣市 --</option>\"+COUNTIES,\n  \"</select></div>\",\n  \"<div class='form-group' style='margin-bottom:.6rem'>\",\n  \"<label>科別（選填）</label>\",\n  \"<input type='text' name='dept' value='\"+dept.replace(/'/g,\"&#39;\")+\"' placeholder='例如：內科、外科、耳鼻喉科'>\",\n  \"</div>\",\n  \"<div class='form-group' style='margin-bottom:.8rem'>\",\n  \"<label>機構名稱／地址（選填）</label>\",\n  \"<input type='text' name='q' value='\"+q.replace(/'/g,\"&#39;\")+\"' placeholder='輸入關鍵字'>\",\n  \"</div>\",\n  \"<div style='display:flex;gap:.6rem'>\",\n  \"<button type='submit' class='btn btn-primary' style='flex:1'>🔍 查詢</button>\",\n  \"<a href='/clinic' class='btn btn-outline'>清除</a>\",\n  \"</div></form></div>\",\n\n  county ? \"<div class='card'><h2>📍 地圖</h2><iframe src='https://maps.google.com/maps?q=\"+encodeURIComponent((dept||'診所')+' '+countyName)+\"&output=embed' style='width:100%;height:220px;border:none;border-radius:10px' loading='lazy' allowfullscreen></iframe></div>\" : \"\",\n\n  sortNote,\n  \"<div class='alert alert-info' style='font-size:.83rem'>💡 資料每日凌晨自動同步；距離排序需等待地址座標建立完成（初次同步後約需數小時批次 Geocoding）</div>\",\n  \"<div id='clinicList'>\"+items+\"</div>\",\n  \"</main>\",\n\n  \"<script>\",\n  // 自動定位：取得座標後填入 hidden input + 自動 submit（若未帶座標）\n  \"var _autoSubmitted = false;\",\n  \"function autoLocate(){\",\n  \"  if(!navigator.geolocation) return;\",\n  \"  navigator.geolocation.getCurrentPosition(function(pos){\",\n  \"    var lat=pos.coords.latitude, lng=pos.coords.longitude;\",\n  \"    document.getElementById('hLat').value=lat;\",\n  \"    document.getElementById('hLng').value=lng;\",\n  // 若還沒有縣市，用 Nominatim 反查\n  \"    if(!document.getElementById('countySelect').value){\",\n  \"      fetch('https://nominatim.openstreetmap.org/reverse?format=json&lat='+lat+'&lon='+lng,{headers:{'Accept-Language':'zh-TW'}})\",\n  \"      .then(function(r){return r.json();})\",\n  \"      .then(function(d){\",\n  \"        var city=d.address&&(d.address.city||d.address.county||'');\",\n  \"        var codeMap={'台北市':'63000','臺北市':'63000','新北市':'65000','桃園市':'68000','台中市':'66000','臺中市':'66000','台南市':'67000','臺南市':'67000','高雄市':'64000','宜蘭縣':'10002','新竹縣':'10004','苗栗縣':'10005','彰化縣':'10007','南投縣':'10008','雲林縣':'10009','嘉義縣':'10010','屏東縣':'10013','台東縣':'10014','臺東縣':'10014','花蓮縣':'10015','澎湖縣':'10016','基隆市':'10017','新竹市':'10018','嘉義市':'10020','連江縣':'09007','金門縣':'09020'};\",\n  \"        var code=codeMap[city];\",\n  \"        if(code&&!_autoSubmitted){ _autoSubmitted=true; document.getElementById('countySelect').value=code; document.getElementById('clinicForm').submit(); }\",\n  \"      }).catch(function(){});\",\n  \"    } else if(!_autoSubmitted) {\",\n  // 已有縣市但沒座標，重新送出帶座標的請求\n  \"      _autoSubmitted=true; document.getElementById('clinicForm').submit();\",\n  \"    }\",\n  \"  },function(){},{ timeout:8000 });\",\n  \"}\",\n  // 只在沒有座標時自動定位\n  ((!userLat) ? \"autoLocate();\" : \"\"),\n  \"</script>\",\n  \"</body></html>\"\n].join('');\n\nmsg.payload    = html;\nmsg.statusCode = 200;\nmsg.headers    = {'Content-Type':'text/html; charset=utf-8'};\nreturn msg;",
        "outputs": 1,
        "x": 790,
        "y": 400,
        "wires": [
            [
                "cli_r"
            ]
        ]
    },
    {
        "id": "sync_upsert_loop",
        "type": "function",
        "z": "tab_mm",
        "name": "批次循環",
        "func": "msg._sqlIndex = (msg._sqlIndex || 0) + 1;\nvar sqls = msg._sqls || [];\n\nif(msg._sqlIndex < sqls.length) {\n  node.warn('[upsert] 送出第 '+(msg._sqlIndex+1)+'/'+sqls.length+' 批');\n  msg.payload = sqls[msg._sqlIndex];\n  delete msg.params;\n  return [msg, null]; // 繼續送 MSSQL\n}\n// 全部批次完成\nnode.warn('[upsert] 全部批次完成');\nreturn [null, msg]; // 進入 sync_next",
        "outputs": 2,
        "x": 1100,
        "y": 1400,
        "wires": [
            [
                "sync_mssql"
            ],
            [
                "sync_next"
            ]
        ]
    },
    {
        "id": "geo_inject",
        "type": "inject",
        "z": "tab_mm",
        "name": "觸發地址 Geocoding（批次50筆）",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "30 3 * * *",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 1480,
        "wires": [
            [
                "geo_fetch_null"
            ]
        ]
    },
    {
        "id": "geo_fetch_null",
        "type": "function",
        "z": "tab_mm",
        "name": "查詢未 Geocoded 診所",
        "func": "msg.payload = \"SELECT id, address FROM clinics WHERE lat IS NULL AND address IS NOT NULL AND LTRIM(RTRIM(address)) != '' ORDER BY id\";\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "x": 480,
        "y": 1480,
        "wires": [
            [
                "geo_q"
            ]
        ]
    },
    {
        "id": "geo_q",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查未 Geocode",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 720,
        "y": 1480,
        "wires": [
            [
                "geo_init_loop"
            ]
        ]
    },
    {
        "id": "geo_update",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL UPDATE lat/lng",
        "outField": "",
        "returnType": "0",
        "throwErrors": "0",
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 570,
        "y": 1620,
        "wires": [
            [
                "geo_after"
            ]
        ]
    },
    {
        "id": "geo_log",
        "type": "debug",
        "z": "tab_mm",
        "name": "Geocode 更新 LOG",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 1070,
        "y": 1680,
        "wires": []
    },
    {
        "id": "geo_init_loop",
        "type": "function",
        "z": "tab_mm",
        "name": "初始化迴圈",
        "func": "var rows = msg.payload;\nif(rows && rows.recordset) rows = rows.recordset;\nif(!Array.isArray(rows)) rows = [];\n\nif(rows.length === 0) {\n  node.warn('[geocode] 所有診所已完成 Geocoding，無待處理資料');\n  return;\n}\nnode.warn('[geocode] 開始處理全部 '+rows.length+' 筆，預計約 '+(Math.ceil(rows.length*1.1/60))+' 分鐘');\nmsg._rows  = rows;\nmsg._idx   = 0;\nmsg._done  = 0;\nmsg._fail  = 0;\nreturn msg;",
        "outputs": 1,
        "x": 950,
        "y": 1480,
        "wires": [
            [
                "geo_build_url"
            ]
        ]
    },
    {
        "id": "geo_build_url",
        "type": "function",
        "z": "tab_mm",
        "name": "建立 Nominatim 請求",
        "func": "var rows = msg._rows;\nvar idx  = msg._idx;\n\nif (idx >= rows.length) {\n  node.warn('[geocode] ✅ 完成！成功: '+(msg._done||0)+' 失敗: '+(msg._fail||0));\n  return null;\n}\nif (idx % 100 === 0)\n  node.warn('[geocode] 進度 '+idx+'/'+rows.length+' ('+Math.round(idx/rows.length*100)+'%)');\n\nvar r     = rows[idx];\nvar stage = msg._stage || 0;\n\nfunction cleanAddr(raw) {\n  var s = (raw || '').trim();\n  s = s.replace(/[０-９]/g, function(c){ return String.fromCharCode(c.charCodeAt(0)-0xFEE0); });\n  s = s.replace(/[Ａ-Ｚａ-ｚ]/g, function(c){ return String.fromCharCode(c.charCodeAt(0)-0xFEE0); });\n  s = s.replace(/　/g, '').replace(/[－ー‐−]/g, '-');\n  s = s.replace(/臺/g, '台');\n  var cnMap = {'一':1,'二':2,'三':3,'四':4,'五':5,'六':6,'七':7,'八':8,'九':9,'十':10};\n  s = s.replace(/[一二三四五六七八九十]+段/g, function(m){\n    return (cnMap[m[0]] || m[0]) + '段';\n  });\n  s = s.split(/[、；,]/)[0];\n  s = s.replace(/[（(][^）)]*[）)]/g, '');\n  s = s.replace(/\\d+[樓FfBb層][^\\d]*$/i, '');\n  s = s.replace(/地[下]?\\d+[樓F]/gi, '');\n  s = s.replace(/號\\d+$/, '號');\n  s = s.replace(/(\\d+)之\\d+(號)/, '$1$2');\n  return s.trim();\n}\n\nvar addr = cleanAddr(r.address);\nmsg._currentRow  = r;\nmsg._currentAddr = addr;\nmsg.method  = 'GET';\nmsg.payload = '';\n\n// ── Stage 0：Nominatim 結構化查詢（縣市區 + 路號分離）──\nif (stage === 0) {\n  var cityMatch  = addr.match(/^(.{2,4}[縣市])(.{2,4}[鄉鎮市區])/);\n  var city       = cityMatch ? (cityMatch[1]+cityMatch[2]) : '';\n  var streetPart = cityMatch ? addr.slice(cityMatch[0].length) : addr;\n  node.warn('[geocode] Nominatim-結構 ('+idx+'): city='+city+' street='+streetPart);\n  msg.url = 'https://nominatim.openstreetmap.org/search'\n    + '?street=' + encodeURIComponent(streetPart)\n    + '&city='   + encodeURIComponent(city)\n    + '&country=TW&format=json&limit=1&accept-language=zh-TW';\n  msg.headers = {\n    'User-Agent': 'MediMatch/1.0 (non-commercial)',\n    'Accept': 'application/json'\n  };\n  msg._stage = 0;\n  return msg;\n}\n\n// ── Stage 1：Nominatim 移除門牌，只搜路名 ──\nif (stage === 1) {\n  var noNum = addr.replace(/\\d+號.*$/, '').replace(/\\d+之\\d+$/, '').trim();\n  node.warn('[geocode] Nominatim-路名 ('+idx+'): '+noNum);\n  msg.url = 'https://nominatim.openstreetmap.org/search?q='\n    + encodeURIComponent(noNum + ' Taiwan')\n    + '&format=json&limit=1&countrycodes=tw&accept-language=zh-TW';\n  msg.headers = {\n    'User-Agent': 'MediMatch/1.0 (non-commercial)',\n    'Accept': 'application/json'\n  };\n  msg._stage = 1;\n  return msg;\n}\n\n// ── Stage 2：Nominatim 只到鄉鎮區 ──\nif (stage === 2) {\n  var distOnly = (addr.match(/^.{2,4}[縣市].{2,4}[鄉鎮市區]/) || [addr.slice(0,9)])[0];\n  node.warn('[geocode] Nominatim-鄉鎮 ('+idx+'): '+distOnly);\n  msg.url = 'https://nominatim.openstreetmap.org/search?q='\n    + encodeURIComponent(distOnly + ' Taiwan')\n    + '&format=json&limit=1&countrycodes=tw&accept-language=zh-TW';\n  msg.headers = {\n    'User-Agent': 'MediMatch/1.0 (non-commercial)',\n    'Accept': 'application/json'\n  };\n  msg._stage = 2;\n  return msg;\n}\n\n// ── 全部失敗 ──\nnode.warn('[geocode] ✗ 放棄: '+addr);\nmsg._fail  = (msg._fail||0) + 1;\nmsg._stage = 0;\nmsg._retry = 0;\nmsg._idx++;\nmsg.payload = 'UPDATE clinics SET lat=0,lng=0,geocode_quality=N\\'failed\\' WHERE id='+r.id;\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1620,
        "wires": [
            [
                "geo_http_req"
            ]
        ]
    },
    {
        "id": "geo_http_req",
        "type": "http request",
        "z": "tab_mm",
        "name": "GET Nominatim",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1700,
        "y": 1620,
        "wires": [
            [
                "geo_parse_one"
            ]
        ]
    },
    {
        "id": "geo_parse_one",
        "type": "function",
        "z": "tab_mm",
        "name": "解析座標+更新SQL",
        "func": "var r     = msg._currentRow;\nvar addr  = msg._currentAddr;\nvar stage = msg._stage || 0;\nvar raw   = msg.payload;\n\n// ── HTTP 429 處理 ──\nvar httpStatus = msg.statusCode || 200;\nif (httpStatus === 429) {\n  msg._retry = (msg._retry||0) + 1;\n  node.warn('[geocode] 429 #'+msg._retry+' stage'+stage+': '+addr);\n  if (msg._retry >= 3) {\n    msg._retry = 0;\n    if (stage < 2) {\n      msg._stage = stage + 1;\n      msg.payload = 'SELECT 1 AS ok';\n      delete msg.params;\n      return [msg, null]; // 經過 delay 再試下一 stage\n    }\n    node.warn('[geocode] ✗ rate limit 放棄: '+addr);\n    msg._fail = (msg._fail||0)+1;\n    msg._stage = 0; msg._retry = 0; msg._idx++;\n    msg.payload = 'UPDATE clinics SET lat=0,lng=0,geocode_quality=N\\'failed\\' WHERE id='+r.id;\n    delete msg.params;\n    return [msg, null];\n  }\n  // 還有重試機會，等待後重試同一 stage\n  msg.payload = 'SELECT 1 AS ok';\n  delete msg.params;\n  return [msg, null];\n}\nmsg._retry = 0;\n\n// ── 解析 payload ──\nvar rawStr = (typeof raw === 'string') ? raw.trim() : '';\nvar data   = null;\n\nif (rawStr.charAt(0) === '<') {\n  // XML = Nominatim 錯誤頁（rate limit）\n  node.warn('[geocode] 收到 XML，視為 rate limit: '+addr);\n  msg._retry = (msg._retry||0) + 1;\n  msg.payload = 'SELECT 1 AS ok';\n  delete msg.params;\n  return [msg, null];\n} else if (rawStr) {\n  if (typeof raw === 'object' && raw !== null) {\n    data = raw;\n  } else {\n    try { data = JSON.parse(rawStr); } catch(e) {\n      node.warn('[geocode] JSON parse 失敗 stage'+stage+': '+rawStr.slice(0,80));\n    }\n  }\n}\n\nvar lat = null, lng = null;\n\n// ── 解析 Nominatim 格式 ──\nif (data && Array.isArray(data) && data.length > 0) {\n  lat = parseFloat(data[0].lat);\n  lng = parseFloat(data[0].lon);\n}\n\n// ── 台灣座標範圍驗證 ──\nif (lat !== null && lng !== null && !isNaN(lat) && !isNaN(lng)) {\n  if (lat < 21.5 || lat > 25.5 || lng < 119.5 || lng > 122.2) {\n    node.warn('[geocode] 座標不在台灣: '+lat+','+lng+' | '+addr);\n    lat = null; lng = null;\n  }\n}\n\n// ── 精度檢查 ──\nvar quality = 'ok';\nif (lat !== null && lng !== null) {\n  var latDec = (lat.toString().split('.')[1]||'').length;\n  var lngDec = (lng.toString().split('.')[1]||'').length;\n  if (latDec < 3 || lngDec < 3) quality = 'low';\n}\n\n// ── 成功 ──\nif (lat !== null && lng !== null) {\n  var srcMap = {0:'Nominatim-結構', 1:'Nominatim-路名', 2:'Nominatim-鄉鎮區'};\n  node.warn('[geocode] ✓ ['+srcMap[stage]+'] '+addr\n    +' → '+Math.round(lat*10000)/10000\n    +','+Math.round(lng*10000)/10000\n    +(quality==='low'?' ⚠️低精度':''));\n  msg._done  = (msg._done||0)+1;\n  msg._stage = 0; msg._retry = 0; msg._idx++;\n  msg.payload = 'UPDATE clinics SET lat='+lat+',lng='+lng\n    +',geocode_quality=N\\''+quality+'\\' WHERE id='+r.id;\n  delete msg.params;\n  return [msg, null]; // output1 → geo_update → geo_delay → 下一筆\n}\n\n// ── 失敗，試下一 stage ──\nif (stage < 2) {\n  node.warn('[geocode] stage'+stage+' 無結果，試 stage'+(stage+1)+': '+addr);\n  msg._stage = stage + 1;\n  msg._retry = 0;\n  msg.payload = 'SELECT 1 AS ok';\n  delete msg.params;\n  return [msg, null]; // output1 → geo_delay → 下一 stage\n}\n\n// ── 全部放棄 ──\nnode.warn('[geocode] ✗ 全部放棄: '+addr);\nmsg._fail  = (msg._fail||0)+1;\nmsg._stage = 0; msg._retry = 0; msg._idx++;\nmsg.payload = 'UPDATE clinics SET lat=0,lng=0,geocode_quality=N\\'failed\\' WHERE id='+r.id;\ndelete msg.params;\nreturn [msg, null]; // output1 → geo_update → geo_delay → 下一筆",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1480,
        "wires": [
            [
                "geo_update"
            ],
            [
                "geo_build_url"
            ]
        ]
    },
    {
        "id": "geo_delay",
        "type": "delay",
        "z": "tab_mm",
        "name": "等待 1.5 秒",
        "pauseType": "delay",
        "timeout": "1500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1170,
        "y": 1620,
        "wires": [
            [
                "geo_build_url"
            ]
        ]
    },
    {
        "id": "geo_after",
        "type": "function",
        "z": "tab_mm",
        "name": "更新完成 → 繼續/Log",
        "func": "return msg;",
        "outputs": 1,
        "x": 860,
        "y": 1620,
        "wires": [
            [
                "geo_delay",
                "geo_log"
            ]
        ]
    },
    {
        "id": "b41b890a6f66ce51",
        "type": "function",
        "z": "tab_mm",
        "name": "線上掛號頁 (需登入)",
        "func": "function parseCookies(req) {\n  var c = {}, h = (req.headers && req.headers.cookie) || \"\";\n  h.split(\";\").forEach(function(s) {\n    var i = s.indexOf(\"=\");\n    if (i > 0) {\n      var k = s.slice(0, i).trim(), v = s.slice(i + 1).trim();\n      try { c[k] = decodeURIComponent(v); } catch (e) { c[k] = v; }\n    }\n  });\n  return c;\n}\nfunction getUser(req) {\n  var c = parseCookies(req);\n  if (!c.mm_user) return null;\n  try { return JSON.parse(c.mm_user); } catch (e) { return null; }\n}\nvar user = getUser(msg.req);\n\n// ── 未登入 ──\nif (!user) {\n  msg.payload = \"<!DOCTYPE html><html lang='zh-TW'><head><meta charset='UTF-8'><link rel='stylesheet' href='/static/style.css'><title>請先登入</title></head><body><nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a></nav><main><div class='card' style='text-align:center;margin-top:2rem;padding:3rem 1rem;'><div style='font-size:3rem;'>🔒</div><h1>請先登入</h1><p>您需要登入帳號才能預約掛號</p><a href='/member?redirect=booking' class='btn btn-primary btn-block' style='margin-top:1.5rem;'>前往登入</a></div></main></body></html>\";\n  msg.statusCode = 200;\n  msg.headers = { \"Content-Type\": \"text/html; charset=utf-8\" };\n  return msg;\n}\n\n// ── 縣市清單 ──\nvar counties = [\n  {id:\"63000\",n:\"台北市\"}, {id:\"65000\",n:\"新北市\"}, {id:\"68000\",n:\"桃園市\"}, {id:\"66000\",n:\"台中市\"},\n  {id:\"67000\",n:\"台南市\"}, {id:\"64000\",n:\"高雄市\"}, {id:\"10017\",n:\"基隆市\"}, {id:\"10018\",n:\"新竹市\"},\n  {id:\"10004\",n:\"新竹縣\"}, {id:\"10005\",n:\"苗栗縣\"}, {id:\"10007\",n:\"彰化縣\"}, {id:\"10008\",n:\"南投縣\"},\n  {id:\"10009\",n:\"雲林縣\"}, {id:\"10020\",n:\"嘉義市\"}, {id:\"10010\",n:\"嘉義縣\"}, {id:\"10013\",n:\"屏東縣\"},\n  {id:\"10002\",n:\"宜蘭縣\"}, {id:\"10015\",n:\"花蓮縣\"}, {id:\"10014\",n:\"台東縣\"}, {id:\"10016\",n:\"澎湖縣\"},\n  {id:\"09020\",n:\"金門縣\"}, {id:\"09007\",n:\"連江縣\"}\n];\nvar countyOptions = counties.map(function(c){ return \"<option value='\" + c.id + \"'>\" + c.n + \"</option>\"; }).join(\"\");\n\n// ── 時段按鈕 ──\nvar times = ['09:00','09:30','10:00','10:30','11:00','14:00','14:30','15:00','15:30','19:00','19:30','20:00'];\nvar timeButtons = times.map(function(t){ return \"<button class='btn btn-outline' onclick='selTime(this)'>\" + t + \"</button>\"; }).join(\"\");\n\nvar html = \"<!DOCTYPE html><html lang='zh-TW'><head>\" +\n  \"<meta charset='UTF-8'><meta name='viewport' content='width=device-width,initial-scale=1'>\" +\n  \"<title>線上掛號 | MediMatch</title><link rel='stylesheet' href='/static/style.css'>\" +\n  \"</head><body>\" +\n  \"<nav class='topbar'><a href='/home' class='logo'>🏥 MediMatch</a><a href='/home' class='home-btn'>🏠 首頁</a></nav>\" +\n  \"<main><div class='card hero'><h1>📅 線上掛號</h1><p>您好，\" + user.name + \"！請選擇地區與診所</p></div>\" +\n\n  \"<div id='step1Page'><div class='step-bar'>\" +\n  \"<div class='step active'><div class='step-num'>1</div>選擇診所</div><div class='step-line'></div>\" +\n  \"<div class='step'><div class='step-num'>2</div>選擇時段</div><div class='step-line'></div>\" +\n  \"<div class='step'><div class='step-num'>3</div>確認</div></div>\" +\n  \"<div class='card'><h2>🏥 尋找診所</h2>\" +\n  \"<div class='form-group'><label>縣市地區</label>\" +\n  \"<select id='selCounty' onchange='fetchClinics()'><option value=''>-- 請選擇縣市 --</option>\" + countyOptions + \"</select></div>\" +\n  \"<div class='form-group'><label>預約科別</label>\" +\n  \"<select id='selDept' onchange='fetchClinics()'>\" +\n  \"<option value=''>-- 請選擇科別 --</option>\" +\n  \"<option value='內科'>內科</option><option value='外科'>外科</option>\" +\n  \"<option value='兒科'>兒科</option><option value='皮膚科'>皮膚科</option>\" +\n  \"<option value='耳鼻喉科'>耳鼻喉科</option><option value='眼科'>眼科</option>\" +\n  \"<option value='牙科'>牙科</option></select></div>\" +\n  \"<div class='form-group'>\" +\n  \"<label>選擇診所 <span id='ld' style='display:none;color:var(--p);font-size:0.8rem;'>(搜尋中...)</span></label>\" +\n  \"<select id='selClinic'><option value=''>-- 請先選擇上方條件 --</option></select></div>\" +\n  \"<div class='form-group'><label>預約日期</label><input type='date' id='selDate'></div>\" +\n  \"<button class='btn btn-primary btn-block' onclick='goStep2()'>下一步 →</button></div></div>\" +\n\n  \"<div id='step2Page' style='display:none;'><div class='step-bar'>\" +\n  \"<div class='step'><div class='step-num'>1</div>選擇診所</div><div class='step-line'></div>\" +\n  \"<div class='step active'><div class='step-num'>2</div>選擇時段</div><div class='step-line'></div>\" +\n  \"<div class='step'><div class='step-num'>3</div>確認</div></div>\" +\n  \"<div class='card'><h2>🕐 選擇時段</h2>\" +\n  \"<div style='display:grid;grid-template-columns:repeat(3,1fr);gap:.5rem;' id='timeSlots'>\" + timeButtons + \"</div>\" +\n  \"<div style='display:flex;gap:0.6rem;margin-top:1.5rem;'>\" +\n  \"<button class='btn btn-outline' onclick='goStep1()'>← 上一步</button>\" +\n  \"<button class='btn btn-primary' style='flex:1' id='s2next' disabled onclick='goStep3()'>下一步 →</button>\" +\n  \"</div></div></div>\" +\n\n  \"<div id='step3Page' style='display:none;'><div class='card'>\" +\n  \"<h2>✅ 確認掛號資訊</h2>\" +\n  \"<div id='info' style='background:var(--bg);padding:1.2rem;border-radius:12px;margin-bottom:1rem;line-height:2;'></div>\" +\n  \"<div class='alert alert-warning'>⚠️ 請準時就診，如需取消請提前一天通知診所</div>\" +\n  \"<button class='btn btn-success btn-block' id='confirmBtn' onclick='cf()'>✅ 確認並提交掛號</button>\" +\n  \"<button class='btn btn-outline btn-block mt1' onclick='goStep2()'>← 修改時段</button></div></div>\" +\n  \"</main>\" +\n\n  \"<script>\" +\n  \"var selTimeVal='';\" +\n  \"function selTime(b){\" +\n  \"  document.querySelectorAll('#timeSlots .btn').forEach(function(x){x.className='btn btn-outline';});\" +\n  \"  b.className='btn btn-primary'; selTimeVal=b.innerText;\" +\n  \"  document.getElementById('s2next').disabled=false;\" +\n  \"}\" +\n  \"function fetchClinics(){\" +\n  \"  var c=document.getElementById('selCounty').value,\" +\n  \"      d=document.getElementById('selDept').value;\" +\n  \"  if(!c||!d) return;\" +\n  \"  var s=document.getElementById('selClinic');\" +\n  \"  s.innerHTML='<option value=\\\"\\\">搜尋中...</option>';\" +\n  \"  document.getElementById('ld').style.display='inline';\" +\n  \"  fetch('/api/clinics_search?county='+c+'&dept='+encodeURIComponent(d))\" +\n  \"  .then(function(r){return r.json();})\" +\n  \"  .then(function(res){\" +\n  \"    s.innerHTML='<option value=\\\"\\\">-- 請選擇診所 --</option>';\" +\n  \"    if(res.data && res.data.length>0){\" +\n  \"      res.data.forEach(function(i){\" +\n  \"        var n=i.med_name||i.MED_NAME||i.Med_Name;\" +\n  \"        s.innerHTML+='<option value=\\\"'+n+'\\\">'+n+'</option>';\" +\n  \"      });\" +\n  \"    } else {\" +\n  \"      s.innerHTML='<option value=\\\"\\\">此地區無符合診所</option>';\" +\n  \"    }\" +\n  \"    document.getElementById('ld').style.display='none';\" +\n  \"  });\" +\n  \"}\" +\n  \"function goStep1(){\" +\n  \"  document.getElementById('step1Page').style.display='block';\" +\n  \"  document.getElementById('step2Page').style.display='none';\" +\n  \"}\" +\n  \"function goStep2(){\" +\n  \"  if(!document.getElementById('selClinic').value){alert('請選擇診所');return;}\" +\n  \"  document.getElementById('step1Page').style.display='none';\" +\n  \"  document.getElementById('step2Page').style.display='block';\" +\n  \"}\" +\n  \"function goStep3(){\" +\n  \"  var c=document.getElementById('selClinic').value,\" +\n  \"      d=document.getElementById('selDept').value,\" +\n  \"      dt=document.getElementById('selDate').value;\" +\n  \"  document.getElementById('info').innerHTML=\" +\n  \"    '<b>預約診所：</b>'+c+'<br><b>預約科別：</b>'+d+\" +\n  \"    '<br><b>就診日期：</b>'+dt+'<br><b>就診時間：</b>'+selTimeVal;\" +\n  \"  document.getElementById('step2Page').style.display='none';\" +\n  \"  document.getElementById('step3Page').style.display='block';\" +\n  \"}\" +\n  \"function cf(){\" +\n  \"  var btn=document.getElementById('confirmBtn');\" +\n  \"  btn.disabled=true; btn.innerText='提交中...';\" +\n  \"  fetch('/api/booking',{\" +\n  \"    method:'POST',\" +\n  \"    headers:{'Content-Type':'application/json'},\" +\n  \"    body:JSON.stringify({\" +\n  \"      clinic:document.getElementById('selClinic').value,\" +\n  \"      dept:document.getElementById('selDept').value,\" +\n  \"      date:document.getElementById('selDate').value,\" +\n  \"      time:selTimeVal\" +\n  \"    })\" +\n  \"  })\" +\n  \"  .then(function(r){return r.json();})\" +\n  \"  .then(function(d){\" +\n  \"    if(d.success){\" +\n  \"      alert('掛號成功！您的候診號碼是：'+d.booking.queue);\" +\n  \"      window.location='/member';\" +\n  \"    } else {\" +\n  \"      alert('掛號失敗：'+d.error);\" +\n  \"      btn.disabled=false; btn.innerText='✅ 確認並提交掛號';\" +\n  \"    }\" +\n  \"  })\" +\n  \"  .catch(function(){\" +\n  \"    alert('系統錯誤，請稍後再試');\" +\n  \"    btn.disabled=false;\" +\n  \"  });\" +\n  \"}\" +\n  \"document.getElementById('selDate').value = new Date().toISOString().split('T')[0];\" +\n  \"</script></body></html>\";\n\nmsg.payload = html;\nmsg.statusCode = 200;\nmsg.headers = { \"Content-Type\": \"text/html; charset=utf-8\" };\nreturn msg;",
        "outputs": 1,
        "x": 340,
        "y": 460,
        "wires": [
            [
                "bkn_r"
            ]
        ]
    },
    {
        "id": "cs_http_i",
        "type": "http in",
        "z": "tab_mm",
        "name": "GET /api/clinics_search",
        "url": "/api/clinics_search",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 860,
        "y": 1340,
        "wires": [
            [
                "cs_build_sql"
            ]
        ]
    },
    {
        "id": "cs_build_sql",
        "type": "function",
        "z": "tab_mm",
        "name": "Build SQL (clinics_search)",
        "func": "var county = (msg.req.query.county || '').replace(/'/g, \"''\");\nvar dept   = (msg.req.query.dept   || '').replace(/'/g, \"''\");\nvar where  = [\"LTRIM(RTRIM(contract_type)) IN ('1','2','3','4')\"];\nif(county) where.push(\"LTRIM(RTRIM(county_code)) = N'\" + county + \"'\");\nif(dept)   where.push(\"departments LIKE N'%\" + dept + \"%'\");\nmsg.payload = \"SELECT TOP 100 med_name FROM clinics WHERE \" + where.join(\" AND \") + \" ORDER BY med_name\";\ndelete msg.params;\nreturn msg;",
        "outputs": 1,
        "x": 1080,
        "y": 1340,
        "wires": [
            [
                "cs_mssql"
            ]
        ]
    },
    {
        "id": "cs_mssql",
        "type": "MSSQL",
        "z": "tab_mm",
        "mssqlCN": "mysql_db",
        "name": "MSSQL 查詢診所名稱",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 0,
        "query": "",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1300,
        "y": 1340,
        "wires": [
            [
                "cs_format"
            ]
        ]
    },
    {
        "id": "cs_format",
        "type": "function",
        "z": "tab_mm",
        "name": "Format JSON",
        "func": "var rows = msg.payload;\nif(rows && rows.recordset) rows = rows.recordset;\nif(!Array.isArray(rows)) rows = [];\nmsg.payload    = { success: true, data: rows };\nmsg.statusCode = 200;\nmsg.headers    = { 'Content-Type': 'application/json; charset=utf-8' };\nreturn msg;",
        "outputs": 1,
        "x": 1500,
        "y": 1340,
        "wires": [
            [
                "cs_http_r"
            ]
        ]
    },
    {
        "id": "cs_http_r",
        "type": "http response",
        "z": "tab_mm",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 1340,
        "wires": []
    },
    {
        "id": "mysql_db",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "期中報告",
        "server": "DESKTOP-6P3OJ06\\SQLEXPRESS",
        "port": "1433",
        "encyption": false,
        "trustServerCertificate": true,
        "database": "mediamatch",
        "useUTC": false,
        "connectTimeout": "",
        "requestTimeout": "",
        "cancelTimeout": "",
        "pool": "",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "a4a06339e7159b93",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-mssql-plus": "0.13.1"
        }
    }
]